<div class="card-block col-sm">
	<header class="card-block__header b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/{{cardBlock.image}}.jpg">	
		{% if cardBlock.heading %}
				<h2>{{ cardBlock.heading }}</h2>
		{% endif %}
	</header>
	<div class="card-block__text">
		<p>Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</div>
	{% if cardBlock.button == true %}
	<footer class="card-block__footer">
		<a href="#" class="btn btn--clear">Learn More</a>
	</footer>
	{% endif %}
</div>