{% if colorBlock.link %}
<a href="#card" class="color-block {{ colorBlock.className }}">
{% else %}
<div class="color-block {{ colorBlock.className }}">
{% endif %}
	<img class="color-block__image b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="../images/{{ colorBlock.image }}" alt="">
	<div class="color-block__content">
		<p class="color-block__feature {{ colorBlock.featureClass }}">
			{% if colorBlock.feature %}
				{{ colorBlock.feature }}
			{% else %}
				Featured Event
			{% endif %}
		</p>
		<h2 class="color-block__title">{{colorBlock.heading}}</h2>
		{% if colorBlock.copy %}
			{{ colorBlock.copy }}
		{% else %}
			{% if colorBlock.className == 'color-block--wide' %}
				<p class="color-block__byline">September 22 - 24, 2016 | Columbus, OH</p>
			{% endif %}
			<p class="color-block__text">Free and OPEN to PUBLIC, NACAC's National College Fairs allow students to interact with admission representatives from a wide range of postsecondary institutions to discuss course offerings, admissions and financial aid...</p>
		{% endif %}
	</div>
{% if colorBlock.link %}
</a>
{% else %}
</div>
{% endif %}