<div class="schedule__entry row">
	<i class="fa fa-clock-o schedule-entry__icon"></i>
	<div class="schedule__time col-sm-4">
	{% set scheduleTime = loop.index+7 %}
	{% if scheduleTime < 12 %}
		<h3>{{ scheduleTime }}:00am - {{ scheduleTime }}:45am</h3>
	{% else %}
		<h3>{{ scheduleTime-11 }}:00pm - {{ scheduleTime-11 }}:45pm</h3>
	{% endif %}
	</div>
	<div class="schedule__content col-sm-8">
		<h3 class="schedule__heading">{{ schedule }}</h3>
		<p>Room #{{ loop.index }}</p>
		{% if schedule == "Lunch On Your Own" %}
		<p><a href="#">Where to Eat</a></p>
		{% else %}
		{% if loop.index % 2 == 0 %}
		<p>Speaker Name</p>
		<p>Founder & CEO</p>
		{% else %}
		<p><em>By Invitation Only</em></p>
		{% endif %}
		{% endif %}
	</div>
</div>