<div class="search-filters">
    <a href="#" class="btn__filter-menu btn--nacac-blue">Filter <i class="fa fa-filter"></i></a>
    <nav class="search-filter__menu">
        <h3 class="text--blue">Filters:</h3>
        <hr>
        <i class="fa fa-times search-filter__close"></i>
        <h3>Category</h3>
        <ul class="checkbox-container">
        	{% for i in range(0,4) %}
            <li>
                <!-- <input type="checkbox" class="checkbox" name="check-1" id="check-1"> -->
                <label for="check-1" class="{% if i == 3 %}label--checked{% endif %}">
                    <a href="#">Subject {{i+1}}</a>
                    <span>(2)</span>
                </label>
            </li>
            {% endfor %}
        </ul>
        <hr>
        <h3>Category</h3>
        <ul class="checkbox-container">
            {% for i in range(0,6) %}
            <li>
                <!-- <input type="checkbox" class="checkbox" name="check-1" id="check-1"> -->
                <label for="check-1" class="{% if i == 0 %}label--checked{% endif %}">
                    <a href="#">Subject {{i+1}}</a>
                    <span>(2)</span>
                </label>
            </li>
            {% endfor %}
        </ul>
        <hr>
        <h3>Category</h3>
        <ul class="checkbox-container">
            {% for i in range(0,3) %}
            <li>
                <!-- <input type="checkbox" class="checkbox" name="check-1" id="check-1"> -->
                <label for="check-1" class="{% if i == 0 %}label--checked{% endif %}">
                    <a href="#">Subject {{i+1}}</a>
                    <span>(2)</span>
                </label>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
