.accordion {
	list-style: none;
	.accordion__header{
		padding: 2rem;
	}
	.accordion__item {
		position: relative;
		display: block;
		padding: 2rem;
		border-bottom: 1px solid $nacac_border-lightgrey;
		cursor: pointer;
		&.accordion__item--selected {
			pointer-events: none;
			background-color: $nacac_light-blue;
			transition: background-color 400ms ease-in-out;
			color: $white;
			.accordion-item__article {
				max-height: 20rem;
				transition: max-height 400ms ease-in-out;
			}
			.accordion-item__trigger {
				pointer-events: all;
				transform: rotate(180deg);
				transition: $transition--all;
				&:after {
					@include icon('fa-minus');
				}
			}
		}
		.accordion-item__header{
			 h3 {
				margin: 0;
				font-size: 2rem;
				font-weight: bold;
			}
		}
		.accordion-item__article {
			max-height: 0;
			transition: max-height 400ms ease-in-out;
			overflow: hidden;
			@include clearfix;
			.accordion-item__aside {
				float: left;
				width: 20%;
				border-radius: 50%;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.accordion-item__section {
				float: left;
				width: 60%;
				padding-left: 2rem;
			}
		}
		.accordion-item__trigger {
			position: absolute;
			top: 2rem;
			right: 2rem;
			padding-top: 0.3rem;
			border: 2px solid #FFFFFF;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			color: $white;
			background-color: $nacac_light-blue;
			text-align: center;
			cursor: pointer;
			transform: rotate(0deg);
			transition: $transition--all;
			&:after {
				@include icon('fa-plus');
			}
		}
	}
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {}
