.accordian {
	list-style: none;
	.accordian__item {
		position: relative;
		display: block;
		padding: 2rem;
		border-bottom: 1px solid $nacac_border-lightgrey;
		cursor: pointer;
		&.accordian__item--selected {
			pointer-events: none;
			background-color: $nacac_light-blue;
			color: $white;
			.accordian__article {
				max-height: 20rem;
				transition: max-height 400ms ease-in-out;
			}
			.accordian__trigger {
				&:after {
					@include icon('fa-minus');
					line-height: 3rem;
				}
			}
		}
		.accordian__header{
			 h3 {
				margin: 0;
				font-size: 2rem;
				font-weight: bold;
			}
		}
		.accordian__article {
			max-height: 0;
			//transition: max-height 400ms ease-in-out;
			overflow: hidden;
			@include clearfix;
			.accordian__aside {
				float: left;
				width: 20%;
				border-radius: 50%;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.accordian__section {
				float: left;
				width: 60%;
				padding-left: 2rem;
			}
		}
		.accordian__trigger {
			position: absolute;
			top: 2rem;
			right: 2rem;
			border: 2px solid #FFFFFF;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			color: $white;
			background-color: $nacac_light-blue;
			text-align: center;
			cursor: pointer;
			&:after {
				@include icon('fa-plus');
				line-height: 3rem;
			}
		}
	}
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {}
