// IE 10 & 11
@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .utility-nav {
        background-color: $nacac_light-blue;
        box-shadow: none;
        .utility-search__trigger {
            cursor: pointer;
        }
    }
    .primary-nav {
        top: 5rem;
        position: fixed;
        .primary-nav__logo svg {
            top: 12px;
        }
    }
    .flexbox__column {
        display: block;
    }
    .color-block img.color-block__image {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: 0;
        object-fit: cover;
    }
    @include break(max, $screen-sm-max) {
        .color-block img.color-block__image {
            position: absolute;
            width: 100%;
            height: auto;
        }
    }
    .flexbox {
        .col-sm,
        .col-md,
        .col-lg {
            flex-grow: 1;
            flex: calc(30% - 2rem);
            flex-basis: 1 1 0%;
            min-width: 0;
        }
    }
}

// Edge 12+
html.Edge-14{
    // .hero__wrapper{
    //     top: -7rem;
    //     padding-bottom: -7rem;
    //     overflow-x: hidden;
    // }
    // .hero__background-image{
    //     position: absolute;
    //     z-index: 1;
    // }

    .color-block img.color-block__image {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: 0;
        object-fit: cover;
    }
    @include break(max, $screen-sm-max) {
        .color-block img.color-block__image {
            position: absolute;
            width: 100%;
            height: auto;
        }
    }
}

// Safari 9+
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
    .color-block {
    	left: -1px;
    }
}
