// IE 10 & 11
html.IE-11 {
    .utility-nav {
        background-color: $nacac_light-blue;
        box-shadow: none;
        .utility-search__trigger {
            cursor: pointer;
        }
    }
    .primary-nav {
        top: 5rem;
        position: fixed;
        .primary-nav__logo svg {
            top: 12px;
        }
        &.primary-nav-fair {
             top: 0rem;
            .primary-nav__logo svg {
                top: 30px;
            }
        }
    }
    .hero__wrapper.hero-fair{
        margin-top: 7rem;
    }
    .flexbox__column {
        display: block;
    }
    .color-block img.color-block__image {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: 0;
        object-fit: cover;
    }
    @include break(max, $screen-sm-max) {
        .color-block img.color-block__image {
            position: absolute;
            width: 100%;
            height: auto;
        }
        .primary-nav {
        top: 7rem;
        }
    }
    .flexbox {
        .col-sm,
        .col-md,
        .col-lg {
            flex-grow: 1;
            flex: calc(30% - 2rem);
            flex-basis: 1 1 0%;
            min-width: 0;
        }
    }
}

// Edge 12+
html.Edge-14{
    .color-block img.color-block__image {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: 0;
        object-fit: cover;
    }
    @include break(max, $screen-sm-max) {
        .color-block img.color-block__image {
            position: absolute;
            width: 100%;
            height: auto;
        }
    }
}

// Safari 9+
html.Safari-9,
html.Safari-10 {
    .color-block.color-block--half, .card-chart {
        -webkit-flex: 1 0 !important;
        -ms-flex: 1 0 !important;
        flex: 1 0 !important;
    }
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
    
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
*/

@include break(min, $screen-md-min) {
    
}
