.btn {
	padding: 1.6rem 2.4rem;
	font-size: 1.4rem;
	border-radius: 0;
	transition: $transition--all;
	@include sans-uppercase-normal;
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	&:hover {
		border-color: $nacac-orange;
		background-color: $nacac-orange;
		color: #fff;
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
	}
}

.btn.btn-default {
	border: 1px solid white;
	color: white;
	border-radius: 0;
	background-color: transparent;
	display: inline-block;
	text-decoration: none;
	padding: 1em 2em;
	&:hover {
		// gradient transtitions dont work well 
		border-color: $nacac-orange;
		background-color: $nacac-orange;
	}
}

.btn--mega {
	padding: 1.8rem 3rem;
	font-size: 2rem;
	border-radius: 0.3rem;
	min-width: 15rem;
}

.btn--clear {
	border: 1px solid white;
	color: white;
	border-radius: 0;
	background-color: transparent;
	&:hover {
		border-color: $nacac-orange;
		background-color: $nacac-orange;
		color: white;
	}
}

.btn--nacac-blue {
	background-color: $nacac_blue;
	border: transparent;
	color: white;
	display: inline-block;
	text-decoration: none;
	border: 2px solid $nacac_blue;
	padding: 1em 2em;
	&:hover {
		color: white;
	}
}

.btn--centered {
    max-width: 21rem;
    margin: 0 auto;
    display: block;
}