
.content-detail__header {
	span.content-detail__cite {
		padding-bottom: 3rem;
		display: inline-block;
		p{
			margin: 0;
		}
	}
}
.content-detail__block {
	div[class*='video-iframe'] {
		margin-bottom: 2.5rem;
		margin-top: .2rem;
		text-align: center;
		max-width: 76.7rem;
	}
	.video-iframe--center {
		width: auto;
		float: none;
		margin: 2rem auto 0 auto;
	}
	.video-iframe--left {
		width: auto;
		float: left;
		margin-right: 2rem;
	}
	.video-iframe--right {
		width: auto;
		float: right;
		margin-left: 2rem;
	}
	.video-iframe--half {
		float: left;
		width: calc(50% - 1rem);
		margin-right: 2rem;
		&:nth-child(even) {
			margin-right: 0;
		}
		> iframe {
			width: 100%;
		}
	}
	// Images
	img[class*='image--'] {
		margin-top: 0.4rem;
		margin-bottom: 1.4rem;
		display: block;
	}
	.image--center {
		float: none;
		margin: 1.4rem auto;
	}
	.image--left {
		float: left;
		margin-right: 2.5rem;
	}
	.image--right {
		float: right;
		margin-left: 2.5rem;
	}
}

.product-detail__image{
	float: left;
	width: 25%;
	img{
		width: 100%;
		border: 1px solid $nacac_border-lightgrey;
	}
}
.product-detail__block{
	float: left;
	width: 75%;
	padding: 0 2rem;
}

/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/
@include break(max, $screen-xs-max) {
	.content-detail__block {
		img[class*='image--'] {
			width: 100%;
			float: none;
			margin: 1.4rem auto;
		}
	}
	.product-detail__image{
		float: none;
		width: auto;
		padding: 0 0 2rem;
		img{
			width: 100%;
			max-width: 38rem;
		}
	}
	.product-detail__block{
		float: none;
		width: auto;
		padding: 0;
	}
}
@include break(max, $screen-sm-max) {
	.content-detail__block {
		img[class*='image--'] {
		}
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {}
