footer.footer {
	background-color: $nacac_light-blue;
	color: $white;
	padding-top: 3rem;
	padding-bottom: 2rem;
	ul {
		list-style: none;
		a {
			color: $white;
		}
	}
	.footer__logo {
		img{
			width: 18rem;
			margin:0 auto;
			// margin-top: 3rem;
		}
	}
	.footer__contact-list {
		a {
			color: $white;
		}
	}
	hr {
		border-top: 1px solid $nacac_border-blue;
		margin: 3rem 0;
	}
	.footer__utility {
		text-align: center;
		ul {
			display: inline-block;
		}
		li {
			float: left;
			padding: 1rem;
		}
	}
	.footer__legal {
		text-align: center;
		ul {
			display: inline-block;
		}
		li {
			float: left;
			padding: 1rem;
		}
	}
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	footer.footer {
		text-align: center;
		.footer__legal li {
			display: inherit;
			float: none;
		}
		.footer__logo {
			margin: auto;
		}
		.footer__callout{
			order: -1;
			margin-bottom: 4rem;
			h3{
				margin-top: 0; 
			}
		}
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
	footer.footer {
		.footer__contact-list {
			padding-right: 3.4rem;
		}
		.footer__callout {
			padding-left: 3.4rem;
			border-left: 1px solid $nacac_border-blue;
		}
		.footer__logo {
			margin-top: 3rem;
		}
	}
}