form.form{
	label{
		display:block;
	}
	input[type="text"],input[type="password"],input[type="email"]{
		font-size: 1.4rem;
		padding: 0.6rem;
		height: auto;
		&.error{
			border: 1px solid $error-red;
			transition: $transition--all;
		}
	}
	.error-box{
		background-color: $nacac-cloud-blue;
		color: $error-red;
		padding: 1rem;
		margin: 2rem 0 0;
		opacity: 0;
		transition: $transition--all;
		&.error-box--display{
			opacity: 1;
		}
	}
	.form-disclaimer__link{
		padding-left: 2rem;
	}

}

/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
	
}