.hero__background-image {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -1;
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
		max-width: inherit;
	}
}

.hero__content {
	width: 66vw;
}

.hero__wrapper {
	height: calc(100vh - 7rem);
	position: relative;
	.hero__breadcrumb {
		position: absolute;
		top: 8rem;
		left: 10%;
		&.breadcrumb {
			a {
				color: $nacac_light-blue;
			}
			> .active {
				color: $white;
			}
		}
	}
}

.hero__content {
	margin: auto;
	text-align: center;
	color: $white;
	.hero__byline {
		text-transform: none;
	}
	.hero__title {
		font-size: 340%;
		position: relative;
	}
	.hero__text {
		font-weight: bold;
	}
	.hero__btn {
		margin: 1.6rem;
	}
	.hero--underline {
		position: relative;
		&:after {
			content: "";
			width: 30rem;
			height: 0;
			position: absolute;
			bottom: -1.6rem;
			left: calc(50% - 15rem);
			border-top: 1px solid #FFF;
			display: block;
			margin: auto;
		}
	}
}

// ---------------------------------------------
// INTERIOR HERO
// ---------------------------------------------
.hero--interior {
	.hero__content {
		width: 80vw;
	}
	&.hero__wrapper {
		min-height: 30rem;
		height: auto;
		margin-bottom: 5rem;
		padding-top: 12rem;
		position: relative;
	}
	.hero__content {
		padding: 8rem 0;
		padding-bottom: 0;
		.hero__byline {}
		.hero__title {
			margin: 0;
		}
		.hero__text {
			font-size: 1.8rem;
		}
		.hero__btn {}
	}
}

.flexbox {
	.hero--interior.hero__wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.hero__content {
		width: 50%;
		min-width: 90rem;
	}
	.hero__wrapper {
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.hero__wrapper {
		display: -webkit-flex;
		display: -ms-flexbox;
	}
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.hero__wrapper {
		padding: 5rem 2rem;
		padding-top: 0;
		height: auto;
		margin-top: 7rem;
		.hero__content {
			width: 100%;
			min-width: 0;
			padding-top:2rem;
			.hero--underline:after {
				width: 100%;
				left: 0;
				margin: 0;
			}
		}
		h1.hero__title {
			line-height: 1.2;
			font-size: 250%;
		}
		.hero__text {
			font-size: 2rem;
		}
		.hero__byline {
			font-size: 2rem;
		}
		&.hero--interior {
			padding-top: 4rem;
		}
	}
	.container.interior-hero__breadcrumb {
		margin-top: 4rem;
	}
	.flexbox .hero__wrapper,
	&.hero--interior {
		.hero__content {
			width: 100%;
		}
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
	.hero__content {
		padding: 15rem 0;
	}
}

@include break(min, $screen-md-min, max, $screen-lg) {
	.hero__content {
		width: 80vw;
	}
	.hero--interior {
		.hero__content {
			width: 80vw;
		}
	}
	.flexbox {
		.hero__content {
			width: 80%;
		}
	}
}
