.primary-nav__screen--off {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.3s, $transition--opacity;
}

.primary-nav__screen--on {
	visibility: visible;
	opacity: 0.8;
	transition: $transition--opacity;
}

.primary-nav__trigger {
	display: none;
	cursor: pointer;
	@media(max-width: $screen-sm-max) {
		display: inline-block;
	}
	span.menu-text {
		padding-right: 1rem;
	}
	.trigger__icon {
		width: 1.6rem;
		height: 1.2rem;
		margin-top: 0.4rem;
		position: relative;
		float: right;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		span {
			display: block;
			position: absolute;
			height: 0.2rem;
			border-radius: 0.1rem;
			width: 100%;
			background: $white;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}
		span:nth-child(1) {
			top: 0;
		}
		span:nth-child(2),
		span:nth-child(3) {
			top: 0.6rem;
		}
		span:nth-child(4) {
			top: 1.2rem;
		}
	}
	.trigger__icon.trigger--x span:nth-child(1) {
		top: 1.2rem;
		width: 0%;
		left: 50%;
	}
	.trigger__icon.trigger--x span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.trigger__icon.trigger--x span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.trigger__icon.trigger--x span:nth-child(4) {
		top: 1rem;
		width: 0%;
		left: 50%;
	}
}

.primary-nav {
	height: 7rem;
	transform: translateY(calc(100vh - 7rem));
	.primary-nav__item,
	.primary-nav__logo {
		width: 10%;
		display: table-cell;
		vertical-align: middle;
	}
	.primary-nav__logo {
		background-color: transparent;
		width: 20%;
		overflow: hidden;
		position: relative;
		svg {
			// SVG has a ratio of 600 x 180 or 10:3
			$logo_svg_width: 26;
			$logo_svg_height: 7.8;
			$logo_svg_half_width: #{$logo_svg_width/2};
			$logo_svg_half_height: #{$logo_svg_height/2};
			height: #{$logo_svg_height+rem};
			width: #{$logo_svg_width+rem};
			padding: 0;
			opacity: 0.8;
			margin: 0;
			margin-top: -#{$logo_svg_half_height+rem};
			margin-left: -#{$logo_svg_half_width+rem};
			position: absolute;
			top: 50%;
			left: 50%;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				margin-top: -2rem;
			}
		}
	}
	.primary-nav__list {
		>li {
			width: 10%;
			display: table-cell;
			vertical-align: middle;
		}
		list-style: none;
		position: relative;
		height: 7rem;
		box-shadow: 780px 0 0 0px $white_translucent,
		-780px 0 0 0px $white_translucent;
		.primary-nav__interior {
			h3 {
				@include sans-uppercase-normal;
			}
		}
	}
	.primary-nav__item {
		background-color: $white_translucent;
		line-height: 1;
		height: 7rem;
		text-align: center;
		> a {
			color: $black_translucent;
			font-family: $sans;
			text-transform: uppercase;
			font-weight: bold;
			display: inline-block;
			position: relative;
			text-align: left;
			&:hover {
				color: $nacac_link_hover;
			}
		}
		.interior__links a {
			display: inline-block;
		}
	}
}

/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.primary-nav__trigger {
		display: inline-block;
		position: fixed;
		@include zone-index(top, 1);
		top: 1rem;
		right: 1rem;
		padding: 0.8rem;
		transition: $transition--all;
		color: $white;
		border: 1px solid;
		&:hover {
			color: $white;
		}
	}
	.primary-nav {
		height: auto;
		background: rgba(255, 255, 255, 0.925);
		border-left: 1px solid $nacac_light-grey;
		@include prefix(transform, translateZ(0) translateX(100%), webkit ms);
		transition: $transition--all;
		@include zone-index(base, 1);
		position: fixed;
		top: 8rem;
		right: 0;
		margin: 0;
		&.primary-nav--open {
			-webkit-transform: translateZ(0) translateX(0);
			-ms-transform: translateZ(0) translateX(0);
			transform: translateZ(0) translateX(0);
		}
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.primary-nav__logo {
			display: none;
		}
		ul.primary-nav__list {
			>li,
			a {
				width: 100%;
				display: block;
				text-align: left;
			}
			box-shadow: none;
			height: calc(100vh - 7rem);
			width: 100vw;
			overflow: auto;
			overflow-x: hidden;
			overflow: auto;
			overflow-x: hidden;
			li.primary-nav__item {
				position: relative;
				> a {
					padding: 2rem;
					&.primary-nav--children:after {
						position: absolute;
						right: 1rem;
						top: 1.2rem;
						height: 3rem;
						width: 3rem;
						content: "+";
						font-size: 3rem;
						text-align: center;
					}
				}
				height: auto;
				border-bottom: 1px solid $nacac_nav-mixed-grey;
				.primary-nav__interior {
					max-height: 0;
					transition: max-height 600ms ease-in-out;
					overflow: hidden;
				}
				&.selected {
					a.primary-nav--children:after {
						content: "-";
					}
					.primary-nav__interior {
						max-height: 90rem;
						transition: max-height 600ms ease-in-out;
					}
				}
			}
		}
		ul.primary-nav__interior {
			> li {
				padding: 0.8rem 2rem;
				h4 {
					margin: 0;
				}
			}
		}
		.nav__feature {
			display: none;
		}
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     													  
*/

@include break(min, $screen-md-min) {
	.main-nav .logo {
		margin-top: 2.6rem;
	}
	.selected {
		background: $white;
		color: purple;
	}
	.nav-header-buttons {
		display: none;
	}
	.primary-nav {
		position: relative;
		padding: 0;
		height: auto;
		width: 100%;
		overflow: visible;
		@include zone-index(base, 0);
		&.primary-nav--up {
			transform: translateY(5rem);
			transition: $transition--all;
		}
		&.primary-nav--sticky, &.primary-nav--inanimate {
			position: fixed;
			top: 0;
			left: 0;
			overflow: visible;
			@include zone-index(page, 1);
			background: $nacac_nav_only_grey;
		}
		&.primary-nav--inanimate{
			transform: translateY(5rem);
			transition:none;
		}
		&.primary-nav--inanimate-blue{
			transform: none;
			background-color: $nacac_light-blue;
			position: fixed;
			top: 5rem;
			left: 0;
			overflow: visible;
			@include zone-index(page, 1);
		}
		.primary-nav__interior {
			top: 7rem;
			bottom: inherit;
			@include prefix(transform-origin, top, webkit moz ms o);
		}
		.selected > .primary-nav__interior {
			@include prefix(transform, scale(1, 1), webkit moz ms o);
		}
		&:after {
			clear: both;
			content: "";
			display: table;
		}
		ul {
			position: static;
			height: auto;
			width: auto;
			background: transparent;
			overflow: visible;
		}
		>li {
			margin: 0;
			color: $white;
			padding: 0 .5em;
			text-align: center;
			display: inline-block;
		}
		li.selected {
			background-color: $white;
			color: $nacac_light-blue;
			transition: $transition--all;
		}
		.primary-nav__interior {
			box-shadow: 780px 0 0 0px $white, -780px 0 0 0px $white;
			position: absolute;
			width: 100%;
			left: 0;
			background: $white;
			padding: 2em 0;
			text-align: left;
			color: #333;
			overflow: hidden;
			@include zone-index( 'base', 0);
			@include prefix(transform, scale(1, 0), webkit moz ms o);
			transition: $transition--all;
			&:after {
				clear: both;
				content: "";
				display: table;
			}
			> li {
				float: left;
				width: 25%;
				margin: 0;
				padding: 0 2em;
				min-height: 4rem;
				a {
					color: $text_slate;
					position: relative;
					&:hover {
						color: $nacac_blue;
						&:after {
							width: 100%;
						}
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						bottom: 3px;
						width: 0%;
						left: 0px;
						height: 1px;
						transition: 0.35s ease;
						background: $nacac_blue;
					}
				}
				img {
					width: 100%;
				}
				p {
					width: auto;
					margin: 1rem 0;
				}
				&.go-back {
					display: none;
				}
				&.nav-article {
					float: right;
					width: 33%;
					.content-block-image-wrapper {
						margin-bottom: 1em;
					}
					p {
						margin-bottom: 0;
					}
				}
				ul.primary-nav__interior {
					position: relative;
					top: 0;
					max-width: 20rem;
					margin: 0;
					padding: 0;
					li {
						float: none;
						width: 100%;
						margin-top: 0;
					}
				}
			}
		}
	}
	.main__interior .primary-nav {
		transform: none;
		background-color: $nacac_light-blue;
		position: fixed;
		top: 5rem;
		left: 0;
		overflow: visible;
		@include zone-index(page, 1);
	}
}
