.primary-nav__trigger {
	display: none;
	cursor: pointer;
	@media(max-width: $screen-sm-max) {
		display: inline-block;
	}
	span.menu-text {
		line-height: 1.6;
		padding-right: 1rem;
	}
	.trigger__icon {
		width: 16px;
		height: 12px;
		margin-top: 4px;
		position: relative;
		float: right;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		span {
			display: block;
			position: absolute;
			height: 2px;
			border-radius: 1px;
			width: 100%;
			background: $white;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
		}
		span:nth-child(1) {
			top: 0;
		}
		span:nth-child(2),
		span:nth-child(3) {
			top: 6px;
		}
		span:nth-child(4) {
			top: 12px;
		}
	}
	.trigger--x{
		transform: rotate(180deg);
	}
	.trigger__icon.trigger--x span:nth-child(1) {
		top: 12px;
		width: 0%;
		left: 50%;
	}
	.trigger__icon.trigger--x span:nth-child(2) {
		transform: rotate(45deg);
		transform-origin: 11px -1px;
		height: 4px;
	}
	.trigger__icon.trigger--x span:nth-child(3) {
		transform: rotate(-45deg);
		transform-origin: 4px 2px;
		height: 4px;
	}
	.trigger__icon.trigger--x span:nth-child(4) {
		top:1px;
		width: 0%;
		left: 50%;
	}
}

.primary-nav {
	height: 7rem;
	transform: translateY(calc(100vh - 7rem));
	.primary-nav__item,
	.primary-nav__logo {
		width: 10%;
		display: table-cell;
		vertical-align: middle;
	}
	.primary-nav__logo {
		background-color: transparent;
		width: 20%;
		overflow: hidden;
		position: relative;
		.primary-nav__link {
			position: relative;
			display: block;
			overflow: hidden;
			height: 70px;
		}
		
		.primary-nav__logo-image {
			top: 0px;
			position: absolute;
			height: 70px;
			width: 100%
		}
		
		svg {
			// SVG has a ratio of 600 x 180 or 10:3
			$logo_svg_width: 26;
			$logo_svg_height: 7.8;
			$logo_svg_half_width: #{$logo_svg_width/2};
			$logo_svg_half_height: #{$logo_svg_height/2};
			height: #{$logo_svg_height+rem};
			width: #{$logo_svg_width+rem};
			padding: 0;
			opacity: 0.8;
			margin: 0;
			margin-top: -#{$logo_svg_half_height+rem};
			margin-left: -#{$logo_svg_half_width+rem};
			position: absolute;
			top: 50%;
			left: 50%;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				margin-top: -2rem;
			}
		}
	}
	.primary-nav__list {
		>li {
			// width: 10%;
			display: table-cell;
			vertical-align: middle;
		}
		list-style: none;
		position: relative;
		height: 7rem;
		box-shadow: 780px 0 0 0px $white_translucent,
		-780px 0 0 0px $white_translucent;
		.primary-nav__interior {
			h3 {
				@include sans-uppercase-normal;
			}
		}
	}
	.primary-nav__item {
		background-color: $white_translucent;
		line-height: 1;
		height: 7rem;
		text-align: center;
		> a {
			color: $black_translucent;
			font-family: $sans;
			text-transform: uppercase;
			font-weight: bold;
			display: inline-block;
			position: relative;
			&:hover {
				color: $nacac_link_hover;
			}
		}
	}
}

/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.primary-nav__trigger {
		display: inline-block;
		position: fixed;
		z-index: 3;
		top: 1rem;
		right: 1rem;
		padding: 0.8rem;
		transition: $transition--all;
		color: $white;
		&:hover {
			color: $white;
		}
	}
	.primary-nav {
		height: auto;
		background: rgba(255, 255, 255, 0.925);
		border-left: 1px solid $nacac_light-grey;
		transform: translateZ(0) translateX(100%);
		transition: $transition--all;
		z-index:3;
		position: fixed;
		top: 8rem;
		right: 0;
		margin: 0;
		&.primary-nav--open {
			transform: translateZ(0) translateX(0);
		}
		.container {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
		.primary-nav__logo {
			display: none;
		}
		ul{
			list-style: none;
		}
		ul.primary-nav__list {
			>li,
			a {
				width: 100%;
				display: block;
				text-align: left;
			}
			box-shadow: none;
			height: calc(100vh - 7rem);
			width: 100vw;
			overflow: auto;
			overflow-x: hidden;
			overflow: auto;
			overflow-x: hidden;
			li.primary-nav__item {
				position: relative;
				> a {
					padding: 2rem;
					&.primary-nav--children:after {
						position: absolute;
						right: 1rem;
						top: 2rem;
						height: 2rem;
						color: $nacac_blue;
						width: 2rem;
						@include icon('fa-plus');
						transition: $transition--all;
						font-size: 2rem;
						text-align: center;
					}
				}
				height: auto;
				border-bottom: 1px solid $nacac_nav-mixed-grey;
				.primary-nav__interior {
					max-height: 0;
					transition: max-height 600ms ease-in-out;
					overflow: hidden;
				}
				&.selected {
					a.primary-nav--children:after {
						content: "\f068";
						transform: rotate(180deg);
						transition: $transition--all;
					}
					.primary-nav__interior {
						max-height: 90rem;
						transition: max-height 600ms ease-in-out;
					}
				}
			}
		}
		ul.primary-nav__interior {
			> li {
				padding: 0.8rem 2rem;
				ul.interior__links{

					line-height: 1.4;
				}

				h4 {
					margin: 1rem 0;
					font-size: 1.6rem;
				}
			}

		}
		.nav__feature {
			display: none;
		}
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     													  
*/

@include break(min, $screen-md-min) {
	.main-nav .logo {
		margin-top: 2.6rem;
	}
	.nav-header-buttons {
		display: none;
	}
	.primary-nav {
		position: relative;
		padding: 0;
		height: auto;
		width: 100%;
		overflow: visible;
		z-index: 2;
		&.primary-nav--grey{
			background: $nacac_nav_only_grey;
		}
		&.primary-nav--up {
			transform: translateY(5rem);
			transition: $transition--all;
		}
		&.primary-nav--sticky, &.primary-nav--inanimate {
			position: fixed;
			top: 0;
			left: 0;
			overflow: visible;
			z-index: 2;
		}
		&.primary-nav--inanimate{
			transform: translateY(5rem);
			transition:none;
		}
		&.primary-nav--blue{
			background-color: $nacac_light-blue;
		}
		.primary-nav__interior {
			top: 7rem;
			bottom: inherit;
			@include prefix(transform-origin, top, webkit moz ms o);
		}
		.selected > .primary-nav__interior {
			@include prefix(transform, scale(1, 1), webkit moz ms o);
		}
		&:after {
			clear: both;
			content: "";
			display: table;
		}
		ul {
			position: static;
			height: auto;
			width: auto;
			background: transparent;
			overflow: visible;
			list-style: none;
		}
		>li {
			margin: 0;
			color: $white;
			padding: 0 .5em;
			text-align: center;
			display: inline-block;
		}
		li.primary-nav__item.selected {
			transition: $transition--all;
			> a{
				color: $nacac_light-blue;
			}
			&:after{
				content:"";
				display:block;
				position:absolute;
				bottom:0;
				width: 0; 
				height: 0;
				margin-left: 5rem;
				border-left: 1rem solid transparent;
				border-right: 1rem solid transparent;
				border-bottom: 1rem solid #FFFFFF;
			}
		}
		.primary-nav__interior {
			box-shadow: 780px 0 0 0px $white, -780px 0 0 0px $white;
			position: absolute;
			width: 100%;
			left: 0;
			background: $white;
			padding: 2em 0;
			text-align: left;
			color: #333;
			overflow: hidden;
			z-index: 1;
			@include prefix(transform, scale(1, 0), webkit moz ms o);
			transition: $transition--all;
			&:after {
				clear: both;
				content: "";
				display: table;
			}
			.interior__links{
				li{
					margin-bottom: 1rem;
				}
			}
			> li {
				float: left;
				width: 25%;
				margin: 0;
				padding: 0 2rem 0.8rem;
				min-height: 4rem;
				h4{
					font-size: 1.8rem;
					margin-top:0.6rem;
					margin-bottom: 1rem;
				}
				a {
					color: $text_slate;
					position: relative;
					line-height: 1.2;
					&:hover {
						color: $nacac_blue;
						&:after {
							width: 100%;
						}
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						width: 0%;
						left: 0px;
						height: 1px;
						transition: 0.35s ease;
						background: $nacac_blue;
					}
				}
				img {
					width: 100%;
				}
				p {
					width: auto;
					margin: 1rem 0;
				}
				&.go-back {
					display: none;
				}
				&.nav-article {
					float: right;
					width: 33%;
					.content-block-image-wrapper {
						margin-bottom: 1em;
					}
					p {
						margin-bottom: 0;
					}
				}
				ul.primary-nav__interior {
					position: relative;
					top: 0;
					max-width: 20rem;
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						float: none;
						width: 100%;
						margin-top: 0;
					}
				}
			}
		}
	}
	.main__interior .primary-nav {
		transform: none;
		background-color: $nacac_light-blue;
		position: fixed;
		top: 5rem;
		left: 0;
		overflow: visible;
		z-index: 2;
	}
}
@include break(min, $screen-md-min, max, $screen-lg) {
	.primary-nav .primary-nav__item {
		font-size: 1.36rem;
		&.selected:after{
			border-left-width: 50px;
			border-right-width: 50px;
		}
	}
}
