/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request: h5bp.com/r
// ==========================================================================
@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; // Black prints faster: h5bp.com/s
		box-shadow: none !important;
		text-shadow: none !important;
		text-align: left !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	// Don't show links that are fragment identifiers,
	// or use the `javascript:` pseudo protocol
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group; // h5bp.com/t
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
	.article__row.hero--none {
		padding: 0;
		margin: 0;
	}
	.container{
		width: 100% !important;
	}
	ol.breadcrumb {
		margin: 0;
		padding: 0;
		margin-top: 1rem;
	}
	// Hide all the things
	.hero__background-image,
	.color-block__image,
	.primary-nav,
	.utility-nav,
	.footer,
	.aside-navigation,
	.figure-block__image,
	.primary-nav__trigger,
	.content-detail__block img {
		display: none !important;
	}
	// No Margin/Padding for you!
	.btn,
	[class*=col-],
	.row,
	.container
	{
		padding:0 !important;
		margin:0 !important;
	}
	.color-block {
		float: none !important;
		width: 100% !important;
		display: block !important;
		position: static;
		max-width: 100%;
		.color-block__content {
			padding: 0;
		}
	}
	.hero__content{
		width: 100% !important;
	}
	.number-block .number-block__numerals{
		margin-left: -1000px;
		&:after {
			content: attr(data-counter);
			left: 1000px;
			margin: 0;
			border: none;
			height: auto;
			width: auto;
			top: 0;
		}
	}
	.accordion .accordion__item .accordion-item__article {
		max-height: 200rem;
	}
	.btn,
	.dropup > .btn {
		> .caret {
			border-top-color: #000 !important;
		}
	}
	.label {
		border: 1px solid #000;
	}
	.table {
		border-collapse: collapse !important;
		td,
		th {
			background-color: #fff !important;
		}
	}
	.table-bordered {
		th,
		td {
			border: 1px solid #ddd !important;
		}
	}
	.btn{
		display: none !important;
	}
}
