.search-results__header {
	h1 {
		text-transform: none;
	}
	p {
		margin: 0;
	}
}

.search-results__utility {
	@include clearfix;
	margin: 1rem 0;
	> span {
		float: left;
	}
}

.search-results__pagination {
	float: right;
	.pagination--selected {
		font-weight: bold;
		color: $text_slate;
		pointer-events: none;
	}
	&.pagination--bottom {
		margin: 1rem 0;
	}
}

.search-results__select {
	width: 25rem;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		display: block;
		right: 0;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid black;
	}
}

.selected-filters {
	border-top: 1px solid $nacac_border-lightgrey;
	border-bottom: 1px solid $nacac_border-lightgrey;
	p {
		font-weight: bold;
		display: inline-block;
		border-right: 1px solid $nacac_border-lightgrey;
		padding: 1rem;
		margin: 0 1rem;
		line-height: 3rem;
	}
	.btn__filter {
		padding: 0 1rem;
		min-height: 3rem;
		line-height: 3rem;
		padding-right: 2rem;
		margin: 0;
		font-size: 1.2rem;
		margin-right: 1rem;
		position: relative;
		border-radius: 2rem;
		display: inline-block;
		&:after {
			position: absolute;
			right: 0.6rem;
			@include icon('fa-times');
			cursor: pointer;
		}
		&:visited,
		&:hover,
		&:active &:link {
			color: $white;
		}
	}
}

.search-filters {
	ul {
		margin: 1rem 0;
		li {
			padding: 0.4rem;
		}
		list-style:none;
		input.checkbox {
			float: left;
		}
		span {
			color: $nacac_medium_grey;
		}
	}
	h3 {
		font-size: 2rem;
		margin-top: 2rem;
		font-weight: bold;
	}
}

.result-item {
	border-bottom: 1px solid $nacac_border-lightgrey;
	padding: 2rem 0;
	.result-item__member {
		margin: 0.8rem 0;
		color: $nacac_burgundy;
		@include serif-italic;
		&:before {
			font-family: $icons;
			font-style: normal;
			content: "\f023";
			padding-right: 1rem;
		}
	}
	.result-item__date {
		margin: 0;
	}
	.result-item__title {
		margin: 0.8rem 0;
		font-weight: bold;
		font-size: 2.2rem;
		font-family: $sans;
	}
	.result-item__author {
		&:before {
			content: "by ";
		}
		margin: 0;
		margin-bottom: 1.2rem;
	}
	.result-item__summary {
		@include clearfix;
		p {
			margin: 0;
			float: left;
			width: 80%;
		}
		.result-item__image {
			float: left;
			width: 20%;
		}
	}
}

.checkbox-container {
	input[type="checkbox"] {
		display: none;
	}
	label {
		position: relative;
		padding-left: 3rem;
		font-weight: normal;
		cursor: pointer;
	}
	label:before,
	label:after {
		font-family: $icons;
		font-size: 2rem;
		position: absolute;
		top: 0;
		left: 0;
	}
	/*unchecked*/
	label:before {
		content: '\f096';
		color: $nacac_light-blue;
	}
	input[type="checkbox"]:checked + label:before {
		transition: all 300ms;
		opacity: 0;
	}
	/*checked*/
	label:after {
		content: '\f046';
		max-width: 0;
		overflow: hidden;
		opacity: 0.5;
		color: #67D8A4;
		/*CSS3 transitions for animated effect*/
		transition: all 300ms;
	}
	input[type="checkbox"]:checked + label:after {
		max-width: 3rem;
		opacity: 1;
	}
}

.morphsearch {
	width: calc(100% - 2rem);
	height: 3.2rem;
	position: absolute;
	top: 0.8rem;
	right: 1rem;
	border: 1px solid;
	border-color: #eee;
	@include prefix(transform-origin, 100% 0, webkit);
	transition: $transition--all;
	// Small Search Button
	&:before {
		font-family: FontAwesome;
		content: "\f002";
		width: 2rem;
		height: 2rem;
		display: block;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
		opacity: 1;
		transition: $transition--all;
	}
	// Hide Big Search Button
	.morphsearch__submit,
	&:after {
		position: absolute;
		text-indent: 10rem;
		overflow: hidden;
		right: 0;
		color: white;
		@include icon('fa-search');
		background-color: transparent;
		border: none;
		-ms-transform-origin: 50% 50%;
		opacity: 0;
		transition: $transition--all;
	}
	// Small CLose Button
	.morphsearch__close {
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		opacity: 0;
		transition: $transition--all;
		height: 3rem;
		width: 3rem;
		&:before {
			@include icon('fa-times');
			position: absolute;
			width: 3rem;
			border-radius: 0.2rem;
			height: 100%;
			top: 0.4rem;
			left: 0;
			opacity: 1;
			color: $white;
			text-align: center;
			font-size: 2.2rem;
			transition: $transition--all;
		}
	}
}

.morphsearch.morphsearch--open {
	width: 400%;
	height: 24rem;
	top: 0;
	right: 0;
	border-color: transparent;
	.morphsearch__input {
		font-size: 5em;
	}
	.morphsearch__form {
		width: 80%;
		height: 12rem;
		top: 7rem;
		transform: translate3d(0, 3em, 0);
	}
	// Small Search Button
	&:before {
		opacity: 0;
	}
	// Hide Big Search Button
	.morphsearch__submit,
	&:after {
		pointer-events: auto;
		opacity: 1;
		transition: all 0.3s;
		transition-delay: 0.5s;
		font-size: 8rem;
	}
	.morphsearch__close {
		opacity: 1;
		pointer-events: auto;
		@include prefix(transform, scale3d(1, 1, 1), webkit);
		transition: $transition--all;
		-webkit-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}
}

.morphsearch__form {
	width: 100%;
	height: 4rem;
	margin: 0 auto;
	position: relative;
	@include prefix(transition-property, 'width, height, transform', webkit);
	@include prefix(transition-duration, 0.5s, webkit);
	@include prefix(transition-timing-function, cubic-bezier(0.7, 0, 0.3, 1), webkit);
}

.morphsearch__input {
	width: 100%;
	height: 100%;
	padding: 0 10% 0 1rem;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 0.8em;
	font-family: $sans;
	transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	border: none;
	&::-ms-clear {
		display: none;
	}
	&::-webkit-input-placeholder,
	&:-moz-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder {
		color: $off_white;
	}
	.morphsearch--hideInput & {
		color: transparent;
		@include prefix(transition, color 0.3s, webkit);
	}
}

// Hide placeholder when active in Chrome
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

.morphsearch__input:focus,
.morphsearch__submit:focus {
	outline: none;
}

.morphsearch__close:hover.morphsearch__close::before,
.morphsearch__close:hover.morphsearch__close::after {
	opacity: 1;
}

.morphsearch__content {
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	position: absolute;
	pointer-events: none;
	opacity: 0;
	text-align: left;
}

.morphsearch--open .morphsearch__content {
	opacity: 1;
	height: auto;
	overflow: visible;
	// this breaks the transition of the children in FF
	// https://bugzilla.mozilla.org/show_bug.cgi?id=625289
	pointer-events: auto;
	@include prefix(transition, opacity 0.3s 0.5s, webkit);
	transition: opacity 0.3s 0.5s;
}

.morphsearch--open .morphsearch__input {
	font-size: 4em;
	font-weight: 200;
}

.morphsearch--open .morphsearch__submit {
	font-size: 4em;
	width: 7rem;
	height: 7rem;
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.btn__filter-menu {
		border: 1px solid $nacac_blue;
		text-align: center;
		padding: 1rem;
		margin: 2rem 0;
		display: block;
	}
	.search-filter__menu {
		position: absolute;
		background-color: red;
		height: auto;
		background: rgba(255, 255, 255, 0.925);
		border-right: 1px solid $nacac_border-lightgrey;
		@include prefix(transform, translateZ(0) translateX(-100%), webkit ms);
		transition: all 0.33s cubic-bezier(0, 0.68, 0.44, 0.99);
		@include zone-index(base, 0);
		position: fixed;
		top: 8rem;
		right: 0;
		margin: 0;
		width: 100%;
		box-shadow: none;
		height: calc(100vh - 7rem);
		width: 100vw;
		overflow: auto;
		padding: 1rem;
		overflow-x: hidden;
		overflow: auto;
		overflow-x: hidden;
	}
	.search-results__utility {
		padding: 0.4rem 0;
	}
	.search-filter__menu.search-filter__menu--open {
		-webkit-transform: translateZ(0) translateX(0);
		-ms-transform: translateZ(0) translateX(0);
		transform: translateZ(0) translateX(0);
	}
	.selected-filters {
		padding: 1rem 0;
		.btn__filter {
			margin-bottom: 1rem;
		}
	}
	.selected-filters p {
		font-weight: bold;
		display: block;
		border-right: none;
		padding: 0;
		margin: 0;
	}
	.search-results__pagination {
		float: none;
		&.pagination--top {
			display: none;
		}
	}
	i.search-filter__close {
		position: absolute;
		right: 3rem;
		top: 3rem;
		font-size: 3rem;
	}
	.result-item .result-item__summary {
		p {
			margin: 0;
			float: none;
			width: auto;
		}
		.result-item__image {
			float: none;
			width: auto;
			margin: 1rem 0 0;
		}
	}
	.morphsearch {
		height: 4.2rem;
		top: 0.2rem;
		right: 1rem;
		border: none;
		position:relative;
		&:before {
			font-size: 2.4rem;
			display: block;
			position: absolute;
			right: 1.5rem;
			top: 0.5rem;
		}
		&.morphsearch--open {
			width: 100%;
			    top: 3rem;
			.morphsearch__form {
				width: auto;
				height: 6rem;
				top:0;
				left:0;
				margin: 0;
				padding:0;
			}
			.morphsearch__input {
				font-size: 2em;
				padding: 0;
				margin: 0;
			}
			.morphsearch__submit {
				top: 0.5rem;
				right:0;
				width: 5rem;
				height: 5rem;
			}
			.morphsearch__submit, &:after{
				    //background-color: red;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    position: absolute;	
    transform:none;		}
		}
	}
	
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
	i.search-filter__close {
		display: none;
	}
	.btn__filter-menu {
		display: none;
	}
}
