nav.tab__navigation {
	display:table;
	width: 100%;
	overflow-x: auto;
}

.tab__button {
	cursor: pointer;
	display: table-cell;
	height: 6rem;
	vertical-align: middle;
	padding: 0 2rem;
	margin: 0;
	@include transition(all 300ms ease-in);
	@include sans-uppercase-normal;
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	background-color: $nacac_light-blue;
	color: $nacac_lighter-blue;
	border-right: 0.1rem solid $white;
	&:last-child{
		border-right: none;
	}
	&.tab__button--active {
		pointer-events: none;
		background-color: $nacac_lighter-blue;
		color: $nacac_light-blue;
		border-top: 0.4rem solid rgba($white, 0.3);
		transition: $transition--all;
	}
}

.tab__stage {
	position: relative;
	@include clearfix;
	.tab__content {
		border-top: 0.1rem solid $white;
		width: 100%;
		padding: 2rem;
		padding-left: 14rem;
		background-color: $nacac_lighter-blue;
		float: left;
		display:none;
		min-height: 15rem;
		transition: $transition--all;
		&.tab__content--active {
			display:block;
			transition: $transition--all;
			transition-delay: 300ms;
		}
		aside{
			position: absolute;
			top: 2rem;
			width:10rem;
			left:2rem;
			opacity: 0.8;
		}
		section{
			ul{
				padding-bottom:$p-spacing;
				padding-left: 2rem;
			}
		}
	}
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	nav.tab__navigation {
		display:block;
		width: 100%;
		overflow-x: auto;
	}
	.tab__stage{
		 .tab__content{
		 	padding: 2rem;
		 	aside {
		 		position: static;
		 		margin: 1rem auto;
		 	}
		 } 
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {}
