.focus-testimonial__image{
	img{
		width:100%;
		border-radius: 50%;
		margin-top: 3rem;
		max-width: 24rem;
	}
}
.focus-testimonial__content {	
	.article__header{
		text-align: left;
		p{
			max-width: inherit;
		}
	}
}
.testimonial-block__quote{
	position:relative;
	padding:0 3rem;
	margin-bottom: 1.2rem;
	&:before, &:after{
		font-family: $icons;
		position:absolute;
		color:$nacac_grey;
		opacity:0.3;
		font-size: 2.8rem;
	}
	&:before{	
		content:"\f10d";
		left:0;
		top: -1.2rem;
	}
}
.testimonial-block__footer{
	padding-left: 2.2rem;
	img{
		border-radius: 50%;
		float: left;
		height: 8rem;
		width: 8rem;
		margin-right: 1rem;
		margin-top: -1rem;
	}
}
.testimonial-block__name{
	color: $nacac_purple;
	font-size: 1.6rem;
	margin-top: 0.4rem;
	margin-bottom: 0.8rem;
}
.testimonial-block__title{
	margin-top: 0.8rem;
}

/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.focus-testimonial__image {
		margin: auto;
		width: 28rem;
		text-align: center;
	}
	.testimonial-block {
		padding-bottom: 2rem;
		padding-top: 3.4rem;
		p.testimonial-block__name {
			font-size: 1.6rem;
			font-weight: bold;
		}
	}
	.focus-testimonial__content .article__header {
		text-align: center;
	}
}



/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
		.focus-testimonials{
			background-color: transparent;
		}
}