.focus-testimonial__image{
	img{
		width:100%;
		border-radius: 50%;
		padding:1rem;
		margin-top: 3rem;
		max-width: 30rem;
	}
}
.focus-testimonial__content {	
	.article__header{
		text-align: left;
		p{
			max-width: inherit;
		}
	}
}
.testimonial-block__quote{
	position:relative;
	padding:0 3rem;
	&:before, &:after{
		font-family: $icons;
		position:absolute;
		color:$nacac_grey;
		opacity:0.3;
		font-size: 2.8rem;
	}
	&:before{	
		content:"\f10d";
		left:0;
		top: -1.2rem;
	}
	&:after{
		content:"\f10e";
		right:0;
		bottom:-1.2rem;
	}
}
.testimonial-block__footer{
	img{
		border-radius: 50%;
		float: left;
		height: 8rem;
		width: 8rem;
		margin-right: 1rem;
	}	
	p{
		color: $nacac_purple;

	}
}
.testimonial-block__name{
	
}
.testimonial-block__title{
	
}

/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.focus-testimonials{
		background-color: transparent;
	}
	.testimonial-block {
	    padding-bottom: 2rem;
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
		.focus-testimonials{
			background-color: transparent;
		}
}