.tweet-deck {
	@media screen and (min-width: 992px) {
		max-width: 80rem;
		margin: 0 auto;
	}
	@media screen and (max-width: 767px) {
		max-width: 50rem;
		margin-left: auto;
		margin-right: auto;
	}
}

.tweet-wrap {
	min-height: 26rem;
	position: relative;
	margin-bottom: 3rem;
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
	@include clearfix;
	.tweet {
		padding: 2rem 2.5rem 0 2.5rem;
		font-size: 2rem;
		line-height: 1.2;
	}
	.tweet-meta {
		position: absolute;
		left: 1.5rem;
		bottom: 1rem;
		width: 100%;
		font-size: 1.2rem;
		a {
			color: #555;
		}
		svg {
			width: 5rem;
			height: 2.7rem;
			float: left;
			margin-right: 1rem;
		}
	}
	@media screen and (max-width: 767px) {
		min-height: 0;
		padding-bottom: 7rem;
	}
}

.tweet-deck__row {
	background-color: $nacac_grey;
	border: none;
	header{
		text-align: left;
		color: $white;
		padding: 2rem;
		span{
			color: $nacac_light-orange;
		}
	}
}

// this may not be possible so we're hiding for now
// &.tweet-double {
//  .tweet {
//    padding-left: calc(50% + 1.5rem);
//  }
//  .tweet-img {
//    float: left;
//    width: 49%;
//    // height: 100%;
//    margin-right: 2.5rem;
//    // background-position: 50% 50%;
//    // margin: -2rem 2.5rem -1rem -2.5rem;
//  }
//  .tweet-meta {
//    left: calc(50% + 1.5rem);
//  }
// }
