{% extends '_layouts/conference-application.html' %}
{% set pageLocation = "Exhibitor Overview" %}
{% block content %}
<main>
	{% include './_shared/utility.html'%}
	{% set className = "primary-nav--inanimate" %}
	{% include './_shared/navigation.html'%}
	{% set conferenceHero = {buttons: ["Register to Attend", "Sponsor an Attendee"], scroll:true} %}
	{% include './_shared/interior-hero.html'%}

	<article class="article__row article--white">
		<div class="container">
			{% include './_components/breadcrumb.html' %}
			<section class="card-block__row">
				<div class="row">
						
					{% set cardBlock = { heading: "", image: "shared/card-national", button: true } %}
					{% include './_components/card-block.html'%}
					
					{% set cardBlock = { heading: "", image: "shared/card-stem", button: true } %}
					{% include './_components/card-block.html'%}

					{% set cardBlock = { heading: "", image: "shared/card-performing", button: true } %}
					{% include './_components/card-block.html'%}
				
				</div>
			</section>
		</div>
	</article>
	<article class="article__row article--blue">
		<div class="container">
			<span class="article__number">1</span>
			<h2>At the Fair:</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, vero, officia. Possimus voluptatem aspernatur ex autem consequuntur distinctio, officiis, mollitia nesciunt ipsum dolores recusandae tenetur dicta corporis ratione, enim, esse?</p>
			<div class="btn btn--clear">Housing Information</div>
		</div>
	</article>
	<article class="article__row article--lightgrey">
		<div class="container">
			<span class="article__number">2</span>
			<h2>At the Fair:</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, vero, officia. Possimus voluptatem aspernatur ex autem consequuntur distinctio, officiis, mollitia nesciunt ipsum dolores recusandae tenetur dicta corporis ratione, enim, esse?</p>
			<ul class="ul--checkmarks">
				<li>Start by going to the tables inventore necessitatibus</li>
				<li>Find our the cost of education quia vitae quos minus. Saepe, suscipit, incidunt.</li>
				<li>Introduce yourself and provide your specific voluptatem ea, laborum nobis asperiores accusamus. Dolor, ullam.</li>
				<li>Make sure your parents or guardians are listening in, especially when financial figures are discussed.</li>
				<li>Attend a Workshop</li>
			</ul>
		</div>
	</article>
	<article class="article__row article--white">
		<div class="container">
			<section class="section__row">
				<header class="section__header">
					<h2>Register Now</h2>
					<a href="#" class="btn btn--nacac-blue">Become a Sponsor</a>
				</header>
			</section>
		</div>
	</article>
	{% include './_shared/footer.html'%}
</main>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.5/js/lightslider.min.js"></script>
<script src="/javascripts/interior.js"></script>
{% endblock %}
