
{% extends '_layouts/conference-application.html' %}

{% block content %}
<main>
{% include './_shared/utility.html'%}
{% set className = "primary-nav--inanimate" %}
{% include './_shared/navigation.html'%}

{% include './_shared/interior-hero-events.html'%}



<article class="article__row article--white">
	<div class="container">
		<!--<header class="article__header">
			<h2></h2>
			<p></p>
		</header>-->
		<section class="card-block__row">
			<div class="flexbox__row row">
					
				{% set button = true %}
				{% include './_components/card-block.html'%}
				
				{% set button = true %}
				{% include './_components/card-block.html'%}
			
				{% set button = true %}
				{% include './_components/card-block.html'%}
			
			</div>
		</section>
	</div>
</article>


<article class="article__row article--bluegrey">
	<div class="container">
		<div class="article__header">
			<h2>Why Attend?</h2>
		</div>
		<div class="article__row row">
			{% include './_components/testimonial-block.html' %}

			{% include './_components/testimonial-block.html' %}

			{% include './_components/testimonial-block.html' %}
		</div>
	</div>
</article>

<article class="article__row article--white">
	<div class="container">
		<section class="section__row">
			<header class="section__header">
				<h2>Thank You to Our Sponsors</h2>
				{% include './_components/slider.html' %}
				<a href="#" class="btn btn--nacac-blue">Become a Sponsor</a>
			</header>
		</section>
	</div>
</article>

{% include './_shared/footer.html'%}
</main>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.5/js/lightslider.min.js"></script>
<script src="/javascripts/interior.js"></script>


{% endblock %}

