{% extends '_layouts/conference-application.html' %}

{% block content %}
<main>
{% include './_shared/utility.html'%}
{% set className = "primary-nav--inanimate" %}
{% include './_shared/navigation.html'%}

{% set conferenceHero = {buttons: ["Register Now", "Exhibitor Information", "Schedule At-A-Glance"]} %}
{% include './_shared/interior-hero-events.html'%}

<article class="article__row article--white">
	<div class="container">
		<section class="card-block__row">
			<div class="flexbox__row row">
					
				{% set cardBlock = { heading: "Venue City", image: "shared/card-event", button: centered } %}
				{% include './_components/card-block.html'%}
					
				{% set cardBlock = { heading: "5K Race", image: "shared/card-running", button: centered } %}
				{% include './_components/card-block.html'%}

				{% set cardBlock = { heading: "Lists", image: "shared/card-focus", button: centered } %}
				{% include './_components/card-block.html'%}
			
			</div>
		</section>
	</div>
</article>

<article class="article__row article--lightgrey">
	<div class="container">
		<div class="article__header">
			<h2>Feature Speakers</h2>
		</div>
		<div class="article__row row">
			{% include './_components/speaker-block.html' %}

			{% include './_components/speaker-block.html' %}

			{% include './_components/speaker-block.html' %}
		</div>
	</div>
</article>
<article class="article__row article--white">
	<div class="container">
		<div class="article__header">
			<h2>Why Attend?</h2>
		</div>
		<div class="article__row row">
			{% include './_components/testimonial-block.html' %}

			{% include './_components/testimonial-block.html' %}

			{% include './_components/testimonial-block.html' %}
		</div>
	</div>
</article>

<article class="article__row article--bluegrey">
	<div class="container">
		<header class="section__header">
			<h2>Feature Events</h2>
		</header>
		<section class="flexbox__row row">
					
				{% set eventBlocks = [
					"College Tours",
					"Access College Fairs",
					"Counselors' College Fair",
					"National College Fairs",
					"Preconference Workshops &amp; Seminars",
					"Counselors' College Fair"
				] %}
				{% for eventsBlock in eventBlocks %}
					{% include './_components/event-block.html'%}
				{% endfor %}
			
		</section>
	</div>
</article>

<article class="article__row article--white">
	<div class="container">
		<section class="section__row">
			<header class="section__header">
				<h2>Thank You to Our Sponsors</h2>
				{% include './_components/slider.html' %}
				<a href="#" class="btn btn--nacac-blue">Become a Sponsor</a>
			</header>
		</section>
	</div>
</article>

{% include './_shared/footer.html'%}
</main>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.5/js/lightslider.min.js"></script>
<script src="../javascripts/interior.js"></script>
{% endblock %}

