{% extends '_layouts/conference-application.html' %}
{% set pageLocation = "Registraition Overview" %}
{% block content %}
<main>
	{% set className = "utility--conference" %}
	{% include './_shared/utility.html'%}
	
	{% set className = "primary-nav--inanimate" %}
	{% include './_shared/navigation.html'%}

	{% set conferenceHero = {buttons: ["Register Now", "Schedule At-A-Glance"], byline: "Until Early Registration"} %}
	{% include './_shared/interior-hero-events.html'%}

	<article class="article__row article--bluegrey">
		<div class="container">
			{% include './_components/breadcrumb.html' %}
			<div class="article__header">
				<h2>Rate Elegebility</h2>
			</div>
			<h3>Memeber Rates</h3>
			<p>You must be an individual member of NACAC and your membership must be current in order to receive the member registration rates for the 2016 National Conference.</p>
			<p>Not a Member yet? Apply now to join NACAC and receive membership registration rates!</p>
			<a href="#" class="btn btn--nacac-blue">Become a NACAC Member</a>
			<h3>Registration Criteria</h3>
			<p>National Conference registration rates are based on eligibility criteria and NACAC membership categories.</p>
			<p>You must meet the eligibility criteria required for the registration type you select. Should you not meet the eligibility criteria, you will be responsible for all fee changes associated with modifying your registration.</p>
			<a href="#" class="btn btn--nacac-blue">View Eligibility Criteria</a>
		</div>
	</article>
	<article class="article__row article--white">
		<div class="container">
			<div class="article__header">
				<h2>Registration Rates</h2>
			</div>
			{% include './_components/price-table.html' %}
		</div>
	</article>
	<article class="article__row article--lightgrey">
		<div class="container">
			<section class="section__row">
				<div class="section__content">
					<div class="row">
						<div class="col-sm-6">
							<h2>Before You Register</h2>
							<ul class="ul--checkmark-green">
								<li>Start by going to the tables inventore necessitatibus</li>
								<li>Find our the cost of education quia vitae quos minus. Saepe, suscipit, incidunt.</li>
								<li>Introduce yourself and provide your specific voluptatem ea, laborum nobis asperiores accusamus. Dolor, ullam.</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<img src="../images/shared/content-medium.jpg" class="image--center aside__image" alt="">
						</div>
					</div>
				</div>
			</section>
		</div>
	</article>
	<article class="article__row article--blue">
		<div class="container">
			<section class="section__row">
				<header class="section__header">
					<h2>Register For Conference College Fairs</h2>
					<p>Lorem ipsum Ad culpa proident elit eiusmod laboris ad culpa aliqua ea id officia aliqua nisi quis mollit ut Excepteur magna do ut reprehenderit cupidatat exercitation commodo fugiat sunt in in qui adipisicing aliquip sit labore voluptate laboris.</p>
					<ul class="ul--split">
						<li>Access to College</li>
						<li>Lorem ipsum Ad culpa proident</li>
						<li>Lorem ipsum culpa proident</li>
						<li>Aliquip sit labore voluptate</li>
					</ul>
					<a href="#" class="btn btn--clear">Register for College Fair</a>
				</header>
			</section>
		</div>
	</article>
	<article class="article__row article--lightgrey">
		<div class="container">
			<section class="section__row">
				<div class="section__content">
					
					<div class="row">
						<div class="col-sm-6">
							<h2>Educational Sessions</h2>
							<p>Lorem ipsum Ad culpa proident elit eiusmod laboris ad culpa aliqua ea id officia aliqua nisi quis mollit ut Excepteur magna do ut reprehenderit cupidatat exercitation commodo fugiat sunt in in qui adipisicing aliquip sit labore voluptate laboris.</p>
							<p>Lorem ipsum Ad culpa proident elit eiusmod laboris ad culpa aliqua ea id officia aliqua nisi quis mollit ut Excepteur magna do ut reprehenderit cupidatat exercitation commodo fugiat sunt in in qui adipisicing aliquip sit labore voluptate laboris.</p>
							<a class="btn btn--nacac-blue">View Sessions</a>
						</div>
						<div class="col-sm-6">
							<img src="../images/shared/content-medium.jpg" class="image--center aside__image" alt="">
						</div>
					</div>
				</div>
			</section>
		</div>
	</article>
	<article class="article__row article--white">
		<div class="container">
			<section class="section__row">
				<div class="section__header">
					<h2>Before You Register</h2>
					<p>Lorem ipsum Ad culpa proident elit eiusmod laboris ad culpa aliqua ea id officia aliqua nisi quis mollit ut Excepteur magna do ut reprehenderit cupidatat exercitation commodo fugiat sunt in in qui adipisicing aliquip sit labore voluptate laboris.</p>
					<a class="btn btn--nacac-blue">Register to Attend</a>
					<a class="btn btn--nacac-blue">Sponsor an Attendee</a>
				</div>
			</section>
		</div>
	</article>
	
	{% include './_components/ad-row.html' %}

	{% include './_shared/footer.html'%}
</main>
{% endblock %}
{% block javascript %}
<script src="../javascripts/interior.js"></script>
{% endblock %}
