 {% extends '_layouts/conference-application.html' %}
 {% set pageLocation = "College Fairs Registration" %}
 {% block content %}
<main>
	{% set className = "utility-nav--blue utility--conference" %}
	{% include './_shared/utility.html'%}
	{% set className = "primary-nav--inanimate primary-nav--blue" %}
	{% include './_shared/navigation.html'%}
	<article class="article__row article--white hero--none aside-navigation__row">
		<div class="container container--narrow">
			{% include './_components/breadcrumb.html' %}
			<div class="row">
				<div class="col-xs-12 content-detail">
					<header class="section__header">
						<h2>Session or Content Title</h2>
						<h3>Access College Fair &amp; Councelors' College Fair</h3>
					</header>
					<section class="conference-detail__block">
						<h3 class="heading__icon"><img src="../images/icons/heading-icon.png" alt="">To Attend:</h3>
						<p>Lorem ipsum Cillum fugiat ad proident aliquip sit sit laborum ut Duis sint occaecat consectetur labore amet irure voluptate nulla aute cupidatat ullamco nostrud aliquip aute cillum commodo est aute proident laboris nostrud minim deserunt officia aute reprehenderit non occaecat amet.</p>
						<h3 class="heading__icon"><img src="../images/icons/heading-icon.png" alt="">To Exhibit:</h3>
						<p>Lorem ipsum Cillum fugiat ad proident aliquip sit sit laborum ut Duis sint occaecat consectetur labore amet irure voluptate nulla aute cupidatat ullamco nostrud aliquip aute cillum commodo est aute proident laboris nostrud minim deserunt officia aute reprehenderit non occaecat amet.</p>
						<p>Lorem ipsum Nostrud aute cillum laboris cupidatat in nostrud sed culpa ad Ut aliqua exercitation dolor reprehenderit sed Excepteur sed reprehenderit id do reprehenderit deserunt minim tempor eiusmod commodo exercitation officia qui exercitation ea consequat do ad magna consectetur ut in ut irure ullamco qui sunt eu in in nulla sit quis Excepteur Duis culpa eu laborum adipisicing irure ullamco labore cillum consequat cupidatat mollit ut ex ex dolore fugiat proident Excepteur velit in.</p>
						<p>Duis sit irure ut occaecat pariatur eiusmod exercitation ut voluptate sit Excepteur laborum minim dolore ut magna est mollit nisi ea aute laboris officia in pariatur eiusmod veniam aute enim esse ut veniam commodo sit Excepteur laborum velit sunt officia reprehenderit in aliquip ex incididunt laboris minim aute eiusmod dolore amet exercitation anim Excepteur eiusmod occaecat cillum aliquip consequat mollit sint quis nisi ut ad esse dolor dolor.</p>
						
						<div class="row">
							{% set eventBlocks = [
								"Attend College Fairs",
								"Councelors College Fairs"
							] %}
							{% set eventBlockIcon = "fa-certificate" %}
							{% for eventBlock in eventBlocks %}
								{% include './_components/event-block.html'%}
							{% endfor %}
						</div>
					</section>
					
				</div>
			</div>
		</div>
		<div class="container">
			<hr>
			<section class="card-block__row">
				<div class="row">
						
					{% set cardBlock = { heading: "", image: "shared/card-performing", button: true } %}
					{% include './_components/card-block.html'%}
					
					{% set cardBlock = { heading: "", image: "shared/card-performing", button: true } %}
					{% include './_components/card-block.html'%}

					{% set cardBlock = { heading: "", image: "shared/card-performing", button: true } %}
					{% include './_components/card-block.html'%}
				
				</div>
			</section>
	</article>
	{% include './_shared/footer.html'%}
</main>
{% endblock %}
{% block javascript %}
<script src="../javascripts/interior.js"></script>
{% endblock %}
