 {% extends '_layouts/conference-application.html' %}
 {% set pageLocation = "Schedule" %}
 {% block content %}
<main>
	{% set className = "utility-nav--blue" %}
	{% include './_shared/utility.html'%}
	{% set className = "primary-nav--inanimate primary-nav--blue" %}
	{% include './_shared/navigation.html'%}
	<article class="article__row article--white hero--none aside-navigation__row">
		<div class="container">
			{% set share = 'true' %}
			{% include './_components/breadcrumb.html' %}
			<div class="row">
				<div class="col-xs-12 content-detail">
					<section class="section__row">
						<header class="content-detail__header">
							<h2>Schedule At-A-Glance</h2>
						</header>
					</section>
					<nav class="schedule__navigation"></nav>
					{% set schedules = ["Attendee and Exhibitor Registration","Future Leaders Breakfast","NACAC Standing Committee Chairs Meeting","Keynote Presentation","Main Exhibit Hall Open"] %}
					{% for schedule in schedules %}
						{% include './_components/schedule-entry.html'%}
					{% endfor %}
					<section class="card-block__row">
						<div class="row">
								
							{% set cardBlock = { heading: "", image: "shared/card-national", button: true } %}
							{% include './_components/card-block.html'%}
							
							{% set cardBlock = { heading: "", image: "shared/card-stem", button: true } %}
							{% include './_components/card-block.html'%}

							{% set cardBlock = { heading: "", image: "shared/card-performing", button: true } %}
							{% include './_components/card-block.html'%}
						
						</div>
					</section>
				</div>
			</div>
		</div>
	</article>
	{% include './_shared/footer.html'%}
</main>
{% endblock %}
{% block javascript %}
<script src="/javascripts/interior.js"></script>
{% endblock %}
