
{% extends '_layouts/main-application.html' %}

{% block content %}
<main class="animated" id="main">
{% include './_shared/utility.html'%}

{% include './_shared/navigation.html'%}

{% include './_shared/hero.html'%}

{% include './_shared/color-block-row.html'%}

{% include './_shared/card-block-row.html'%}

{% include './_shared/announcements.html'%}

{% include './_shared/testimonials.html'%}

{% include './_components/full-block-row.html'%}

{% include './_shared/footer.html'%}
</main>
{% endblock %}

{% block javascript %}

{% endblock %}

