 {% extends '_layouts/main-application.html' %}
 {% set pageLocation = "Content Detail" %}
 {% block content %}
<main>
	{% set className = "utility-nav--blue" %}
	{% include './_shared/utility.html'%}
	{% set className = "primary-nav--inanimate primary-nav--blue" %}
	{% include './_shared/navigation.html'%}
	<article class="article__row article--white hero--none aside-navigation__row">
		<div class="container">
			{% include './_components/breadcrumb.html' %}
			<div class="row">
				<div class="col-md-3">
					{% include './_shared/aside-navigation.html'%}
				</div>
				<div class="col-md-9 content-detail">
					<section class="section__row">
						<header class="content-detail__header">
							<h2>Sample Content Title</h2>
							<span class="content-detail__cite">
								<p>By Author Name</p>
								<p>April 19, 2016</p>
							</span>
						</header>
						<div class="product-detail__image">
							<img src="/images/main/product.png" alt="">
						</div>
						<div class="product-detail__block">
							<p>Lorem ipsum Sed quis irure quis fugiat sint et et culpa enim voluptate Excepteur eu dolor consectetur magna Excepteur quis elit consequat occaecat ullamco irure.</p>
							<p>Lorem ipsum Reprehenderit non Ut ullamco labore in pariatur consectetur aute in do aute labore Duis aliqua occaecat sint aliqua ut esse aute non Duis dolor voluptate nulla sunt magna deserunt nulla occaecat adipisicing esse ad Ut reprehenderit irure dolore commodo dolor aliquip proident deserunt aute occaecat Duis dolore enim dolor qui ad aliquip consectetur adipisicing ea voluptate mollit nisi aliqua deserunt sed Excepteur irure proident ut occaecat dolor irure ea nulla aliqua dolore commodo quis laboris id magna ad proident culpa officia non consequat labore occaecat do mollit aute ut esse veniam anim ex dolore eu amet enim.</p>
							<p>Cillum ut magna aliqua amet voluptate ullamco occaecat cupidatat exercitation minim incididunt adipisicing sit ut ex occaecat occaecat consequat tempor magna ullamco enim dolor anim quis.</p>
							<form class="form product-detail__form" id="productForm" method="post" novalidate="novalidate">
								<label for="firstName">
									<span>First Name</span>
									<input name="firstName" type="text" class="form-control required" required>
									<p class="error-message"></p>
								</label>
								<label for="lastName">
									<span>Last Name</span>
									<input name="lastName" type="text" class="form-control required" required>
									<p class="error-message"></p>
								</label>
								<label for="email">
									<span>Email Address</span>
									<input name="email" type="email" class="form-control required" required>
									<p class="error-message"></p>
								</label>
								<span><a href="#"><sup>*</sup>Why do we ask for your email address?</a></span>
								<input type="submit" class="btn btn--nacac-blue" value="SUBMIT">
							</form>
						</div>
					</section>
					<section class="section__row">
						<header class="section__header">
							<h2>Related Events &amp; Training</h2>
						</header>
						<div class="row">
							<div class="col-md-4">
								{% set figureBlock = { heading: "Calls for Proposals", image: "shared/figure-speaker"} %}
								{% include './_components/figure-block.html'%}
							</div>
							<div class="col-md-4">
								{% set figureBlock = { heading: "Events", image: "shared/figure-career"} %}
								{% include './_components/figure-block.html'%}
							</div>
							<div class="col-md-4">
								{% set figureBlock = { heading: "Training", image: "shared/figure-students"} %}
								{% include './_components/figure-block.html'%}
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</article>
	{% include './_shared/footer.html'%}
</main>
{% endblock %}
{% block javascript %}
<script src="/javascripts/data/validate.min.js"></script>
<script src="/javascripts/interior.js"></script>
{% endblock %}
