
{% extends '_layouts/main-application.html' %}

{% block content %}
<main class="search__template hero--none" id="main">

{% include './_shared/utility.html'%}

{% set navType = "primary-nav--inanimate-blue" %}
{% include './_shared/navigation.html'%}

<article class="article__row article--white">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Search Results</li>
		</ol>
		<header class="search-results__header">
			<h1>Search Results</h1>
			<p>Showing 1-10 of 320 Results</p>
		</header>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				{% include './_components/search-filter.html'%}
			</div>
			<div class="col-md-9 col-sm-8">
				{% include './_components/search-results.html'%}
			</div>
		</div>
	</div>
</article>

{% include './_shared/footer.html'%}

</main>

{% endblock %}

