 {% extends '_layouts/main-application.html' %}
 {% block content %}
<main>
	{% set className = "utility-nav--blue" %}
	{% include './_shared/utility.html'%}
	{% set className = "primary-nav--inanimate primary-nav--blue" %}
	{% include './_shared/navigation.html'%}
	<article class="article__row article--white hero--none">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Search Results</li>
			</ol>
			<header class="search-results__header">
				<h1>Search Results</h1>
				<p>Showing 1-10 of 320 Results</p>
			</header>
			<div class="row">
				<div class="col-md-3 col-sm-4">
					{% include './_components/search-filter.html'%}
				</div>
				<div class="col-md-9 col-sm-8">
					<nav class="search-results__utility">
						<span>Sort By:
							<select class="form-control search-results__select">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</span>
						<ul class="pagination search-results__pagination pagination--top">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true"><i class="fa fa-chevron-left"></i> Previous</span>
								</a>
							</li>
							<li><a class="pagination--selected" href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">...</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">Next <i class="fa fa-chevron-right"></i></span>
								</a>
							</li>
						</ul>
					</nav>
					<div class="selected-filters">
						<p>Your Filters:</p>
						<a href="#" class="btn__filter background--burgundy">Search Term</a>
						<a href="#" class="btn__filter background--orange">Search Term</a>
						<a href="#" class="btn__filter background--green">Search Term</a>
					</div>
					<div class="search-results__listings">
						{% set image = true %}
						{% include './_components/search-result-item.html'%}
						{% set image = false %}
						{% include './_components/search-result-item.html'%}
						{% set image = true %}
						{% include './_components/search-result-item.html'%}
						{% set image = false %}
						{% include './_components/search-result-item.html'%}
						{% set image = true %}
						{% include './_components/search-result-item.html'%}
						{% set image = false %}
						{% include './_components/search-result-item.html'%}
					</div>
					<ul class="pagination search-results__pagination pagination--bottom">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true"><i class="fa fa-chevron-left"></i> Previous</span>
							</a>
						</li>
						<li><a class="pagination--selected" href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">Next <i class="fa fa-chevron-right"></i></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</article>
	{% include './_shared/footer.html'%}
</main>
{% endblock %}
