.btn{
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border-radius: 0.25rem;
    @include transition(all 0.2s ease-in);
    font-family: $condensed;
    text-transform: uppercase;
}

.btn.btn-default {
    border: 1px solid white;
    color: white;
    border-radius: 0;
    &:hover{
    	// gradient transtitions dont work well 
    	border-color:$nacac-orange;
    	@include css-gradient($lighter-orange,$nacac-orange)
    }
}

.btn--mega {
    padding: 1.8rem 1.6rem;
    font-size: 2rem;
    border-radius: 0.3rem;
    min-width: 15rem;
}

.btn--clear {
    border: 1px solid white;
    color: white;
    border-radius: 0;
    background-color: transparent;
}