
.content-block__row {
	@include clearfix;
}

// Color Blocks
.color-block {
	color: $white;
	.color-block__image {
		width: auto;
		position: absolute;
		z-index: -1;
	}
	p.color-block__feature {
		@include uppercase;
		font-weight: 200;
		padding-left: 2rem;
		position: relative;
		&:before {
			font-family: FontAwesome;
			content: "\f073";
			position: absolute;
			left: 0;
		}
	}
	h2.color-block__title {
		@include condensed-uppercase-bold;
		font-size: 4rem;
		margin: 2rem 0;
	}
	p.color-block__info {
		@include serif-italic;
		margin-bottom: 2rem;
	}
	p.color-block__text {
		font-size: 1.8rem;
		font-weight: 200;
	}
}

.color-block--half {
	width: 50%;
	float: left;
	position: relative;
	min-height: 36rem;
	overflow: hidden;
	&:nth-child(odd) .color-block__content {
		float: right;
	}
	.color-block__content {
		padding: 3rem;
		@include break(min, $screen-sm-min) {
			width: $container-sm-half;
		}
		@include break(min, $screen-md-min) {
			width: $container-md-half;
		}
		@include break(min, $screen-lg-min) {
			width: $container-lg-half;
		}
	}
}

@include break(max, $screen-sm-max) {
	.color-block--half {
		width: 100%;
		float: none;
	}
}

@include break(min, $screen-md-min) {}

@include break(min, $screen-lg-min) {}

// Card-block
.card-block {
	background-color: $nacac_grey;
	margin: 2rem 1rem;
	padding: 0;
	color: $white;
	-webkit-transform: translateZ(0);
	-webkit-transform: translateY(0);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	cursor: pointer;
	&:hover {
		position: relative;
		box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
		@include prefix(animation-name, floating, webkit);
		@include prefix(animation-duration, 3s, webkit);
		@include prefix(animation-iteration-count, infinite, webkit);
		@include prefix(animation-timing-function, ease-in-out, webkit);
		@include keyframes(floating) {
			from {
				transform: translate(0, 0px);
			}
			65% {
				transform: translate(0, -6px);
			}
			to {
				transform: translate(0, 0px);
			}
		}
		img {}
	}
}

.card-block__header {
	position: relative;
	height: 18rem;
	overflow: hidden;
	img {
		transition: all .4s ease-in-out;
		position: absolute;
		z-index: 1;
		width: 100%;
		@include prefix(filter, brightness(80%), webkit);
		&:hover {
			@include prefix(filter, brightness(100%), webkit);
		}
	}
	h3 {
		@include condensed-uppercase-bold;
		position: absolute;
		z-index: 2;
		width: 100%;
		text-align: center;
	}
}

.card-block__text {
	flex: 1;
	padding: 2rem;
	p {
		font-weight: 100;
	}
}

.card-block__footer {
	padding: 0 2rem 2rem;
}
