/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */

// Overlay
.screen__overlay {
	position: fixed;
	top: 0;
	left: 0;
	@include zone-index(overlay,0)
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
body.body--freeze{
	overflow:hidden;
}
.screen__overlay--on {
	opacity: 1;
}

// Main
main {
	visibility: hidden;
}

.bounceIn,
.fadeIn {
	visibility: visible;
}

// Articles
.article__row {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.article--white {
	background-color: $white;
}

.article--lightgrey {
	background-color: $nacac_bg-light-grey;
}

.article__header {
	text-align: center;
	.btn{
		margin:2rem 0;
	}
}

.flexbox__row {
	display: flex;
	}
.flexbox__column {
	display: flex;
	flex-direction: column;
}
@include break(max, $screen-sm-max) {
	.flexbox__row {

		display: block;
	}


	.flexbox__column {

		display: block;
	}
}
