nav.primary-nav {
	//overflow:hidden;

	height: 7rem;
	li {
		width: 10%;
		display: table-cell;
		vertical-align: middle;
	}
	.primary-nav__logo {
		background-color: transparent;
		width: 20%;
		overflow: hidden;
		position: relative;
		svg {
			// SVG has a ratio of 600 x 180 or 10:3
			$logo_svg_width: 26;
			$logo_svg_height: 7.8;
			$logo_svg_half_width: #{$logo_svg_width/2};
			$logo_svg_half_height: #{$logo_svg_height/2};
			height: #{$logo_svg_height+rem};
			width: #{$logo_svg_width+rem};
			padding: 0;
			opacity: 0.8;
			margin: 0;
			margin-top: -#{$logo_svg_half_height+rem};
			margin-left: -#{$logo_svg_half_width+rem};
			position: absolute;
			top: 50%;
			left: 50%;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				margin-top: -2rem;
			}
		}
	}
	.primary-nav__list {
		list-style: none;
		position: relative;
		height: 7rem;
		box-shadow: 780px 0 0 0px rgba(255,255,255,0.8), -780px 0 0 0px rgba(255,255,255,0.8);;
		// &:before,&:after{
		// 	content:"";
		// 	width:50%;
		// 	background-color: $white_translucent;
		// 	height:100%;
		// 	position:absolute;
		// 	z-index: 0;
		// }
		// &:before{
		// 	left:-50%;
		// 	top:0;
		// }
		// &:after{
		// 	right:-50%;
		// 	top:0;
		// }
		.primary-nav__item {
			padding: 0.8rem;
			background-color: $white_translucent;
			line-height: 1;
			height: 7rem;
			a {
				color: $black_translucent;
				font-family: $sans;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.6rem;
				position: relative;
				&.has-children:after {
					font-family: $icons;
					//content: "\f078";
					display: inline-block;
					//width: 1em;
					position: absolute;
					//right: 1em;
				}
			}
			&.selected {
				background: $white;
				color: red;
				a.has-children:after {
					font: $icons;
					//content: "\f00d";
				}
			}
		}
	}
}

// STICKIFICATION
nav.primary-nav--sticky {
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	//left: 50%;
	z-index: 1;
	background: #c3c3c3;
	// @include break(min, $screen-sm-min) {
	// 	margin-left: -#{$container-sm-half};
	// }
	// @include break(min, $screen-md-min) {
	// 	margin-left: -#{$container-md-half};
	// }
	// @include break(min, $screen-lg-min) {
	// 	margin-left: -#{$container-lg-half};
	// }
}

// -----------------------------------------------//
// ***********************************************//
//               HOLY CRAPPPP!!!!!!!
// ***********************************************//
// -----------------------------------------------//


.primary-nav__screen {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.primary-nav__screen--off {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.primary-nav__screen--on {
	visibility: visible;
	opacity: 0.8;
	transition: opacity 0.3s linear;
}

.interior-nav {
	background-color: #333;
	position: fixed;
	z-index: 9;
	width: 100%;
	.interior-nav-links {
		margin: 0;
		float: left;
		&:last-child {
			float: right;
		}
		li {
			display: inline-block;
			padding: 1rem 2rem;
			a {
				color: orange;
			}
		}
	}
	@include break(max, $screen-sm-max) {
		position: static;
		.logo {
			background-color: transparent;
			left: 0;
			margin: 0;
			padding: 0;
			position: static;
			height: auto;
			img {
				display: none;
			}
		}
		&.interior-nav--open {
			.interior-nav-links {
				display: none;
				> li {
					//display:block;
				}
			}
		}
	}
}

.primary-nav__trigger {
	display: none;
	@media(max-width: $screen-sm-max) {
		display: inline-block;
	}
}

.header-and-nav-wrapper-outer {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	@media(min-width: $screen-sm-min) {
		background: rgba(255, 255, 255, .8);
		transition: all .33s 0.33s;
		&.nav-is-scrolled {
			background: rgba(255, 255, 255, .95);
			box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
		}
	}
	&::selected {
		background-color: transparent;
	}
}

.header-and-nav-wrapper {
	max-width: 1140px;
	margin: 0 auto;
	&::selected {
		background-color: transparent;
	}
}

.nav-main-header {
	position: relative;
	width: 100%;
	@include prefix(transform, translate3d(0, 0, 0), webkit moz ms o);
	will-change: transform;
}

.navigation-wrapper {
	@media(min-width: $screen-sm-min) {
		nav {
			text-align: right;
		}
	}
}

.utility-bar-wrapper {
	text-align: right;
	padding-top: 1em;
	padding-bottom: 1em;
	@media (max-width: $screen-sm-max) {
		display: none;
	}
}

.utility-bar-item {
	display: inline;
	padding-left: .6666em;
	&:first-child {
		padding-left: 0;
	}
	.mobile-utility-bar-buttons & {
		display: block;
	}
	@media(max-width:$screen-sm-max) {
		padding-top: 1em;
		padding-right: 1em;
		padding-bottom: 0;
		padding-left: 1em;
		&:first-child {
			padding-left: 1em;
		}
		&:last-child {
			padding-bottom: 1em;
		}
	}
	&::selection {
		background-color: transparent;
	}
}

.primary-nav a,
.primary-nav ul a {
	overflow: hidden;
}


/*MAIN MEDIA QUERY FOR NARROW SCREEN*/

@include break(max, $screen-sm-max) {
	/* by default .primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
	// .sticky-nav {
	// 	position: fixed;
	// 	height: 7rem;
	// 	opacity: 0;
	// 	background-color: #333;
	// 	width: 100%;
	// 	top: 0;
	// 	z-index: 4;
	// 	transition: .125s opacity linear;
	// }
	// .sticky-nav--on {
	// 	opacity: 1;
	// }
	// .sticky-nav--off {
	// 	opacity: 0;
	// }
	.logo {
		position: absolute;
		left: 8px;
	}
	nav ul li {
		max-width: 32rem;
		margin-left: -32rem;
	}
	.visible-menu-level {
		> li {
			margin-left: 0 !important;
		}
	}
	.primary-nav,
	.nav-interior,
	nav a {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-overflow-scrolling: touch;
		@include prefix(transform, translate3d(0, 0, 0), webkit moz ms o);
		@include prefix(transition, transform 0.3s 0.3s, webkit moz ms o);
		will-change: transform, opacity;
	}
	.primary-nav,
	.primary-nav ul {
		position: fixed;
		padding: 0;
		padding-top: 7rem;
		top: 0;
		right: 0;
		margin: 0;
		overflow: auto;
		overflow-x: hidden;
		z-index: 3;
		span {
			display: inline-block;
		}
	}
	.primary-nav {
		font-size: 1.7rem;
		background: rgba(255, 255, 255, .925);
		border-left: 1px solid lightgrey;
		@include prefix(transform, translateZ(0) translateX(30rem), webkit moz ms o);
		@include prefix(transition, all 0.33s, webkit ms);
		&.nav-is-visible {
			@include prefix(transform, translateX(0), webkit moz ms o);
		}
		/*end nav-is-visible*/
	}
	/*end primary nav*/
	.news-section .latest-news {
		border-left: none;
		margin-top: 3rem;
	}
	.main-nav {
		.go-back a {
			display: block;
			position: relative;
			&:before {
				position: absolute;
				left: 1rem;
				font-family: Ionicons;
				content: "\f124";
				display: inline-block;
				width: 1rem;
				height: 1.33rem;
				overflow: visible;
				line-height: 1;
			}
			span {
				line-height: 1;
				position: relative;
				left: .5em;
			}
		}
		/*end go back*/
		ul {
			height: 100vh;
			width: 30rem;
		}
		/*end ul*/
		li {
			border-bottom: 1px solid lightgrey;
			line-height: 1;
			padding: 1rem;
			&:first-child {}
			a {
				display: block;
				padding: 1em 1em 1em 1.5em;
				span {}
				/*end span*/
			}
			p {
				width: auto;
				margin: 1rem 0;
				font-size: 1.4rem;
			}
			img {
				display: block;
				width: 100%;
			}
			/*end a*/
			.nav-interior {
				top: 0;
				z-index: 1;
				li {
					&.go-back {
						a {
							span {
								-webkit-transform: none !important;
								transform: none !important;
							}
						}
					}
					/*end go back*/
					&.mega-menu-title {
						display: none;
					}
					&.nav-article {
						display: none;
					}
					a {}
					/*end a*/
				}
				/*end li*/
			}
			/*end nav-interior*/
		}
		/*end li*/
		.nav-is-visible {
			li a span {
				@include prefix(transform, translate3d(0, 0, 0), webkit moz ms o);
			}
			/* end span*/
		}
		/*end nav is visible*/
	}
	/*end nav*/
	.has-children {
		position: relative;
		&:first-child {
			width: 100%;
		}
		&:after {
			font-family: Ionicons;
			content: "\f125";
			display: inline-block;
			width: 1em;
			position: absolute;
			right: 1em;
		}
	}
	.tagline {
		margin-top: 12rem;
	}
	.primary-nav__trigger {
		display: inline-block;
		line-height: 1;
		white-space: nowrap;
		text-align: center;
	}
	.nav-trigger {
		display: inline-block;
		position: fixed;
		z-index: 4;
		top: 1.1em;
		right: 1.1em;
		padding: .5em 1.8em .5em .5em;
		transition: all 0.33s;
		.menu-text {
			display: inline-block;
			width: 5rem;
			padding: 1rem 0;
			text-align: center;
			margin: -1rem;
			text-transform: uppercase;
			transition: .125s width ease-in-out, .125s opacity linear;
			opacity: 1;
			&::selection {
				background-color: transparent;
			}
			&:after {
				font-family: Ionicons;
				content: "\f394";
				position: absolute;
				width: 1.4rem;
				margin-left: .3333em;
				transition: all .25s 0.3s;
				-webkit-filter: brightness(1);
				filter: brightness(1);
				&::selection {
					background-color: transparent;
				}
			}
		}
		i {
			position: absolute;
			top: .6rem;
			right: 0;
			width: 0;
			overflow: hidden;
			font-size: 2rem;
			font-style: normal;
			opacity: 0;
			transition: .1s all linear;
			margin: -1rem;
			&::selection {
				background-color: transparent;
			}
		}
		&.morphStateX {
			padding-right: 0;
			padding-left: 0;
			border-color: transparent;
			background-color: transparent;
			.menu-text {
				width: 0;
				min-width: 0;
				overflow: hidden;
			}
			i {
				transition: .0000125s all linear;
				opacity: 1;
				width: 5rem;
				padding: 1rem;
			}
		}
	}
	.mobile-utility-bar-buttons {
		.button-aiim {
			display: block;
			padding: 1em;
		}
		.search-bar {
			width: 100%;
			padding-right: 0;
			.header-search-field {
				width: 85%;
			}
		}
	}
	.nav-interior {
		display: none;
	}
	.selected {
		> .nav-interior {
			display: block;
		}
	}
}


/*end max 800*/


/*MAIN MEDIA QUERY FOR WIDER SCREENS*/

@include break(min, $screen-sm-min) {
	.main-nav .logo {
		margin-top: 2.6rem;
	}
	.selected {
		background: $white;
		color: purple;
	}
	.nav-header-buttons {
		display: none;
	}
	.primary-nav {
		position: relative;
		padding: 0;
		height: auto;
		width: 100%;
		overflow: visible;
		&:after {
			clear: both;
			content: "";
			display: table;
		}
		ul {
			position: static;
			height: auto;
			width: auto;
			background: transparent;
			overflow: visible;
			a {
				border-bottom: none;
				transition: .33s color 0.33s;
			}
		}
		>li {
			margin: 0;
			color: $white;
			padding: 0 .5em;
			text-align: center;
			display: inline-block;
			&.mobile-utility-bar-buttons {
				display: none;
			}
			>a {
				/* main navigation buttons style */
				position: relative;
				display: inline-block;
				padding: 1em;
				overflow: visible;
				border-bottom: none;
				color: $white;
				transition: color 0.3s, box-shadow 0.3s;
				&:hover {
					color: orange;
				}
				&.has-children {
					padding-right: 2.8rem;
					&:after {
						position: absolute;
						right: 0.5rem;
						font-family: Ionicons;
						content: "\f123";
					}
				}
				/*end a:first-child*/
			}
			/*end a*/
		}
		li.selected {
			background: $white;
			color: red;
			&.has-children:after {
				content: "\f12a";
			}
		}
		.go-back {
			display: none;
		}
		/*end of go-back*/
		.selected > .nav-interior {
			@include prefix(transform, scale(1, 1), webkit moz ms o);
			z-index: 9;
		}
		.nav-interior {
			position: absolute;
			width: 100%;
			left: 0;
			top: 7rem;
			z-index: 1;
			background: $white;
			padding: 2em 0;
			text-align: left;
			color: #333;
			position: absolute;
			left: 0;
			display: flex;
			overflow: hidden;
			@include prefix(transform, scale(1, 0), webkit moz ms o);
			@include prefix(transform-origin, 0 0, webkit moz ms o);
			@include prefix(transition, 300ms, webkit moz ms o);
			z-index: 8;
			&:after {
				clear: both;
				content: "";
				display: table;
			}
			> li {
				float: left;
				width: 33%;
				margin: 0;
				padding: 0 2em;
				border-right: 1px solid #e80;
				img {
					width: 100%;
				}
				&:nth-child(3n+1),
				&:last-child {
					border-right: none;
				}
				p {
					width: auto;
					margin: 1rem 0;
					font-size: 1.4rem;
				}
				&.go-back {
					display: none;
				}
				&.nav-article {
					float: right;
					width: 33%;
					.content-block-image-wrapper {
						margin-bottom: 1em;
					}
					p {
						margin-bottom: 0;
					}
				}
				/*nested*/
				ul.nav-interior {
					position: relative;
					top: 0;
					max-width: 20rem;
					margin: 0;
					padding: 0;
					li {
						float: none;
						width: 100%;
						margin-top: 0;
						> ul {
							font-size: 1.4rem;
						}
					}
					/*end li*/
				}
				/*end ul*/
			}
			/*end li*/
			.nav-item {
				display: inline-block;
				border-bottom: none;
				padding: 0;
				height: auto;
				line-height: 2;
				text-align: left;
			}
			/*end nav-item*/
		}
		/*end nav interior*/
	}
	/*end primary-nav*/
}


/*END MAIN MEDIA QUERY FOR WIDER SCREENS**/

@include break(min, $screen-sm-min, max, $screen-md-max) {
	nav {
		font-size: 1.8rem;
	}
	.primary-nav > li {
		padding-right: .25em;
		padding-left: 0;
	}
}
