nav.primary-nav{
	overflow:hidden;
	height: 7rem;
	li{
		width:10%;
		display: table-cell;
		vertical-align: middle;
	}
	.primary-nav__logo{
		background-color: transparent;
		width:20%;
		overflow:hidden;
		position:relative;
		svg {
			// SVG has a ratio of 600 x 180 or 10:3
			$logo_svg_width: 26;
			$logo_svg_height: 7.8;
			$logo_svg_half_width: #{$logo_svg_width/2} ;
			$logo_svg_half_height: #{$logo_svg_height/2} ;
			height: #{$logo_svg_height+rem};
			width: #{$logo_svg_width+rem};
			padding: 0;
			opacity: 0.8;
			margin: 0;
			margin-top: -#{$logo_svg_half_height+rem};
			margin-left: -#{$logo_svg_half_width+rem};
			position: absolute;
			top: 50%;
			left: 50%;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			 margin-top: -2rem;
			}
				
			
			
		}
	}
	.primary-nav__list{
		list-style: none;
		position:relative;
		height: 7rem;
		&:before,&:after{
			content:"";
			width:50%;
			background-color: $white_translucent;
			height:100%;
			position:absolute;
			z-index: 0;
		}
		&:before{
			left:-50%;
			top:0;
		}
		&:after{
			right:-50%;
			top:0;
		}
		.primary-nav__item{
			padding: 0.8rem;
			background-color: $white_translucent;
			line-height: 1;
			height: 7rem;
			a{
				color: $black_translucent;
				font-family: $sans;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.6rem;
			}
		}
	}
}

// STICKIFICATION
nav.primary-nav--sticky{
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
    left:50%;
    z-index: 1;
    @include break(min, $screen-sm-min) {
			margin-left: -#{$container-sm-half};
		}
		@include break(min, $screen-md-min) {
			margin-left: -#{$container-md-half};
		}
		@include break(min, $screen-lg-min) {
			margin-left: -#{$container-lg-half};
		}
}