// **********
// TYPOGRAPHY
// **********
$serif: "Merriweather",serif;
$sans: "Istok Web",sans-serif;
$condensed: "Oswald", sans-serif;
$icons:FontAwesome;

@mixin uppercase{
	text-transform: uppercase;
};

@mixin serif-italic{
	font-family: $serif;
    font-style: italic;
}

@mixin condensed-uppercase-bold{
	font-family: $condensed;
    text-transform: uppercase;
}

@mixin sans-light{
	font-family: $sans;
	font-weight: 400;
}

@mixin sans-uppercase-normal{
	font-family: $sans;
	text-transform: uppercase;
	font-weight: 700;
}
// **********
// COLORS
// **********
// Base Colors
$white: #FFFFFF;
$off_white: #c2c2c2;
$black: #000000;
$white_translucent: rgba(255,255,255,0.8);
$black_translucent: rgba(0,0,0,0.6);

// Text colors
$text_slate:#374049;

// NACAC Colors
$nacac-orange: #f28800;
$nacac_light-orange: #FDB32C;
$lighter-orange:#ffa211;

$nacac_blue: #2480C4;
$nacac_translucent-blue: rgba(36, 128, 196, 0.75);
$nacac_link_hover: #1483C5;
$nacac_light-blue:#6AAEE6;
$nacac_lighter-blue:#B4D6F1;
$nacac_border-blue:#8BD4EB;
$nacac-cloud-blue: #F0F8FF;

$error-red: #FB6363;
$nacac_burgundy:#A9383A;

$nacac_green:#0D7352;


$nacac_light-grey:#c2cdd6;
$nacac_medium_grey:#8A8A8A;
$nacac_grey:#9EA7AE;
$nacac_border-grey:#BDBDBD;
$nacac_border-lightgrey:#D6D6D6;
$nacac_nav-mixed-grey: #DEDEDE;

$nacac_purple: #474280;

$nacac_bg-light-grey: #F2F2F2;
$nacac_bg-blue-grey:#ECF0F3;
$nacac_nav_only_grey: #5A5A5A;



// Social Colors
$facebookBlue: #3b5998;
$twitterBlue: #4099ff;


// Padding/Margins
$content-padding:3.6rem;
$p-spacing: 2rem;

// Some math to get container size then base blocks off them
// Its half the container size at each media query
$container-sm-half:37.5rem;
$container-md-half:48.5rem;
$container-lg-half:58.5rem;

$container-sm:75rem;
$container-md:97rem;
$container-lg:117rem;

// Animations
$transition--opacity: opacity 0.3s linear;
$transition--all: all 300ms ease-in-out;
$transition--all-fast: all 100ms;
