// **********
// TYPOGRAPHY
// **********
$serif: "merriweather",serif;
$sans: "acumin-pro",sans-serif;
$condensed: "acumin-pro-condensed",sans-serif;

// **********
// COLORS
// **********
$white: #FFFFFF;
$black: #000000;

// NACAC Colors
$nacac-orange: #f28800;

$lighter-orange:#ffa211;

// Social Colors
$facebookBlue: #3b5998;
$twitterBlue: #4099ff;
