{% set templateName = 'template-main' %}

<!doctype html>
<html>
{% include "./_shared/head.html" %}
{# 	
<!--
#### EPISERVER EDIT MODE:
#### If you need to simulate 
#### Episerver's in-browser edit mode,
#### use the folowing id on the body tag:
#### <body id="EpiserverEditMode">
-->
#}
<body>
	{% block content %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.5.2/blazy.min.js"></script>
	<script src="../javascripts/shared.js"></script>
	<script src="../javascripts/app.js"></script>
	{% block javascript %}{% endblock %}
</body>

</html>