<div class="accordion {{ accordion.className }}">
	{% if templateName == 'template-main' %}
		<header class="accordion__header">
			<h3>Related Events &amp; Training</h3>
			<p>Get involved in the counseling and admission community and stay up-to-date on the industry trends. NACAC proudly offers our members the training, networking opportunities and necessary information needed to serve students and their parents to the best of their abilities.</p>
		</header>
	{% endif %}
	<p class="accordion__toggle"><span class="js-accordion--toggle" data-toggle="expand">Expand</span> / <span class="js-accordion--toggle" data-toggle="collapse">Collapse All</span></p>
	<ul class="accordion__list">
		{% for i in range(0, 8) %}
		<li data-trigger="#accordion_{{i}}" class="accordion__item trigger__content">
			<span class="accordion__jump" id="accordion_{{i}}"></span>

			{% if templateName == 'template-fair' %}
				<a href="#accordion_{{i}}" class="trigger__button accordion-item__header">
					<h3>Lorem Ipsum Dolor Sit Amet</h3>
				</a>
				<article class="accordion-item__article">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium molestias quibusdam saepe necessitatibus voluptatem quisquam voluptate voluptatibus magnam commodi officia ipsam, maiores blanditiis vero porro voluptates repellendus atque nemo mollitia!</p>
					<p>Tempora molestiae necessitatibus dignissimos porro dolore explicabo dolor, exercitationem neque qui ex, natus aspernatur quae tenetur ipsa! Dolor labore sed magni nemo!</p>
					<p class="faq__entry"><a href="#">Call to Action</a></p>
				</article>
			{% else  %}
				<a href="#accordion_{{i}}" class="trigger__button accordion-item__header">
					<h3>Title</h3>
				</a>
				<article class="accordion-item__article">
					<aside class="accordion-item__aside">
						<img src="../images/shared/figure-speaker.jpg" alt="">
					</aside>
					<section class="accordion-item__section">
						<p>Lorem ipsum Excepteur nisi laborum ad eiusmod minim proident voluptate in consectetur ea dolore Ut in nulla reprehenderit nulla cupidatat in.</p>
						<a href="#readmore" class="arrow__link arrow__link--white">Read More</a>
					</section>
				</article>
			{% endif %}
			<span class="accordion-item__trigger"></span>
		</li>
		{% endfor %}
	</ul>
</div>