<article class="article__row article--white">
	<div class="container">
		<header class="article__header">
			<h2>Nacac Expertise</h2>
			<p>Ad pro quidam virtute voluptaria. In eum propriae insolens nominati, sed te nihil affert doming, nulla melius praesent et mei. Ad essent quaeque periculis mea. No iuvaret torquatos conclusionemque vel.</p>
		</header>
		<section class="card-block__row">
			<div class="flexbox__row row">
					
				<div class="flexbox__column card-block col-md-3">{% include './_components/card-block.html'%}</div>
				
				<div class="flexbox__column card-block col-md-3">{% include './_components/card-block-alt.html'%}</div>
			
				<div class="flexbox__column card-block col-md-3">{% include './_components/card-block.html'%}</div>
				
				<div class="flexbox__column card-block col-md-3">{% include './_components/card-block-alt.html'%}</div>
			
			</div>
		</section>
	</div>
</article>