<footer class="footer">

	{# Main and Fair Footer #}
	{% if templateName == 'template-fair' or templateName == 'template-main' %}
	<div class="container">
		<div class="row">
			<div class="col-sm-3 footer__logo">
				<img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/nacac_primary_logo_white.svg" alt="">
			</div>
			<div class="col-sm-5 footer__contact-list">
				<h3>Contact Us</h3>
				<p>
					<a href="tel:18008226285">1(800)822-6285</a>
				</p>
				<p>
					<a href="mailto:info@nacacnet.org">info@nacacnet.org</a>
				</p>
				<p>National Association for College Admission Counseling
					<br/>1050 North Highland Street, Suite 400
					<br/>Arlington, VA 22201</p>
			</div>
			<div class="col-sm-4 footer__callout">
				<h3>Value Proposition</h3>
				<p>Lorem ipsum dolor sit amet, voluptate consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" class="btn btn--clear">Learn More</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="container footer__utility">
		<ul>
			<li>
				<a href="#">Login</a>
			</li>
			<li>
				<a href="#">Join</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
			<li>
				<a href="#">Store</a>
			</li>
			<li>
				<a href="#">Support NACAC</a>
			</li>
		</ul>
	</div>
	<div class="container footer__legal">
		<ul>
			<li>
				<a href="#">Privacy Policy</a>
			</li>
			<li>
				<a href="#">Terms of Use</a>
			</li>
			<li>
				<a href="#">&copy; National Association for College Admission Counseling <script>var d=new Date,y=d.getFullYear();document.write(y);</script></a>
			</li>
		</ul>
	</div>
	{% endif %}

	{# Conference Footer #}
	{% if templateName == 'template-conference' %}
	<div class="container footer--conference">
		<div class="row">
			<div class="col-sm-3 footer__logo">
				<img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/NACAC_white_conf_logo.svg" alt="">
			</div>
			<div class="col-sm-6 footer__callout">
				<h3>Download the Free Conference App!</h3>
				<p>The free NACAC Conference App will help you make the most of your time, evaluate sessions, and find everything you need at and around the Conference.</p>
				<a href="#" class="btn btn--clear"><img src="/images/logos/google-play-badge.png" alt=""></a>
				<a href="#" class="btn btn--clear"><img src="/images/logos/apple-badge.png" alt=""></a>
				<hr>
				<h3>Become a Memeber</h3>
				<p>Not a Member yet? Apply now to join NACAC and receive membership registration rates!</p>
				<a href="#" class="btn btn--clear">Apply Now</a>
			</div>
			<div class="col-sm-3 footer__contact-list">
				<h3>Contact Us</h3>
				<h4>General Conference Information:</h4>
				<p>
					<a href="tel:18008226285"><i class="fa fa-phone"></i> (703)822-6285</a>
				</p>
				<p>
					<a href="mailto:info@nacacnet.org"><i class="fa fa-envelope"></i> info@nacacnet.org</a>
				</p>
				<h4>Registration:</h4>
				<p>
					<a href="tel:18008226285"><i class="fa fa-phone"></i> (703)822-6285</a>
				</p>
				<p>
					<a href="mailto:info@nacacnet.org"><i class="fa fa-envelope"></i> info@nacacnet.org</a>
				</p>
				<h4>NACAC HQ:</h4>
				<p>
					<a href="tel:18008226285"><i class="fa fa-phone"></i> (703)822-6285</a>
				</p>
				<p>
					<a href="mailto:info@nacacnet.org"><i class="fa fa-envelope"></i> info@nacacnet.org</a>
				</p>
				<p>National Association for College Admission Counseling
					<br/>1050 North Highland Street, Suite 400
					<br/>Arlington, VA 22201</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="container footer--conference">
		<div class="row">
			<div class="col-sm-3">
				<h3>Learn</h3>
				<ul>
					<li>
						<a href="#">About NACAC College Fairs</a>
					</li>
					<li>
						<a href="#">Guide to the College Admissions Process</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Attend</h3>
				<ul>
					<li><a href="#">College Fair Finder</a></li>
					<li><a href="#">National College Fairs</a></li>
					<li><a href="#">Performing and Visual Arts Fairs</a></li>
					<li><a href="#">STEM College and Career Fairs</a></li>
					<li><a href="#">International Universities Fairs</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Exhibit</h3>
				<ul>
					<li><a href="#">Why Should You Participate?</a></li>
					<li><a href="#">Registration</a></li>
					<li><a href="#">Guidelines</a></li>
					<li><a href="#">Lead Retrieval Information</a></li>
					<li><a href="#">Institutional Fee Waiver Program</a></li>
					<li><a href="#">Terms and Policies</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Support</h3>
				<ul>
					<li><a href="#">Sponsorship Opportunities</a></li>
					<li><a href="#">Supporters</a></li>
				</ul>
			</div>
		</div>
		<div class="container footer__legal">
			<ul>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of Use</a>
				</li>
				<li>
					<a href="#">&copy; National Association for College Admission Counseling <script>var d=new Date,y=d.getFullYear();document.write(y);</script></a>
				</li>
			</ul>
			<ul class="footer__social">
				<li class="footer__social-item">
					<a href="#">#nacac2016</a>
				</li>
				<li class="footer__social-item">
					<a href="#"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="footer__social-item">
					<a href="#"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="footer__social-item">
					<a href="#"><i class="fa fa-instagram"></i></a>
				</li>
				<li class="footer__social-item">
					<a href="#"><i class="fa fa-flickr"></i></a>
				</li>
			</ul>
		</div>
	</div>
	{% endif %}

	{% if templateName == 'template-fair' %}
	<div class="container footer-fair">
		<div class="row">
			<div class="col-sm-3">
				<h3>Learn</h3>
				<ul>
					<li>
						<a href="#">About NACAC College Fairs</a>
					</li>
					<li>
						<a href="#">Guide to the College Admissions Process</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Attend</h3>
				<ul>
					<li><a href="#">College Fair Finder</a></li>
					<li><a href="#">National College Fairs</a></li>
					<li><a href="#">Performing and Visual Arts Fairs</a></li>
					<li><a href="#">STEM College and Career Fairs</a></li>
					<li><a href="#">International Universities Fairs</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Exhibit</h3>
				<ul>
					<li><a href="#">Why Should You Participate?</a></li>
					<li><a href="#">Registration</a></li>
					<li><a href="#">Guidelines</a></li>
					<li><a href="#">Lead Retrieval Information</a></li>
					<li><a href="#">Institutional Fee Waiver Program</a></li>
					<li><a href="#">Terms and Policies</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Support</h3>
				<ul>
					<li><a href="#">Sponsorship Opportunities</a></li>
					<li><a href="#">Supporters</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% endif %}
	
</footer>
