<head>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#6AAEE6">
	<title>{% block title %}Brightfind App Seed{% endblock %}</title>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:700italic|Oswald|Istok+Web:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	{% if templateName == 'template-fair' %}
		<link rel="stylesheet" href="/stylesheets/fair.css">
	{% else %}
		<link rel="stylesheet" href="/stylesheets/style.css">
	{% endif %}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>
