<head>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#6AAEE6">
	<title>NACAC | 
		{% if pageLocation %}
			{{ pageLocation }}
		{% else %}
			National Association for College Admission Counseling
		{% endif %}
	</title>
	<script src="/javascripts/vendor/modernizr-3.3.1.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:700italic|Oswald|Istok+Web:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/bs-custom.css">
	<link rel="stylesheet" href="/stylesheets/all-nacac-sites.css">
	{% if templateName == 'template-fair' %}
		<link rel="stylesheet" href="/stylesheets/fair.css">
	{% endif %}
	{% if templateName == 'template-conference' %}
		<link rel="stylesheet" href="/stylesheets/conference.css">
	{% endif %}
	{% if templateName == 'template-main' %}
		<link rel="stylesheet" href="/stylesheets/main.css">
	{% endif %}



	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>