<a class="primary-nav__trigger">
	<span class="menu-text">Menu</span>
	<div class="trigger__icon">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</a>
<nav class="primary-nav {{ className }}">
	<div class="container">
		<ul class="primary-nav__list">
			{% if templateName == 'template-fair' %}
			<li class="primary-nav__logo">
				<a href="/fair">
					<svg class="logo-ncf">
						<use xlink:href="#logo-ncf"></use>
					</svg>
				</a>
			</li>
			{% elif templateName == 'template-conference' %}
			<li class="primary-nav__logo hidden-xs">
				<a href="/main" class="primary-nav__link conference__logo">
					<img class="primary-nav__logo-image" src="../images/NACAC_conf_logo.svg" alt="">
				</a>
			</li>
			{% else %}
			<li class="primary-nav__logo hidden-xs">
				<a href="/main" class="primary-nav__link">
					<img class="primary-nav__logo-image" src="../images/NACAC_logo-knockout.svg" alt="">
				</a>
			</li>
			{% endif %}
			{% if templateName == 'template-fair' %}
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Learn <i class="fa fa-caret-down"></i></a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Attend <i class="fa fa-caret-down"></i></a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Exhibit <i class="fa fa-caret-down"></i></a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Support <i class="fa fa-caret-down"></i></a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			{% else %}
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">About</a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Membership</a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Events</a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Professional Development</a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Advocacy &amp; Ethics</a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">News &amp; Publications</a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			<li class="primary-nav__item">
				<a href="#" class="primary-nav--children">Knowledge Center</a>
				<ul class="primary-nav__interior">
					<li>
						<h4>Core Values</h4>
						<ul id="interior__links_0" class="interior__links">
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Statement of Principles of Good Practice</a></li>
						</ul>
					</li>
					<li>
						<h4>Legistative</h4>
						<ul id="interior__links_1" class="interior__links">
							<li><a href="#">What to Talk About with Your Legistator</a></li>
							<li><a href="#">Legislative Action Center</a></li>
							<li><a href="#">State Legislative Portal</a></li>
							<li><a href="#">Industry Issues</a></li>
						</ul>
					</li>
					<li>
						<h4>Initiatives</h4>
						<ul id="interior__links_2" class="interior__links">
							<li><a href="#">Reach Higher Challenge</a></li>
							<li><a href="#">Support NACAC: The Imagine Fund</a></li>
							<li><a href="#">Step by Step: College Awareness and Planning for Families, Counselors and Communities</a></li>
							<li><a href="#">Fund for the Future</a></li>
						</ul>
					</li>
					<li class="nav__feature">
						<h4>Featured Content</h4><img src="http://placehold.it/300x150">
						<p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Nulla Pulvinar Mauris Sed Aliquet. Adipiscing Nulla Pulvinar Mauris Sed Aliquet</p>
					</li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
