<a class="primary-nav__trigger">
	<span class="menu-text">Menu</span>
	<div class="trigger__icon">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</a>
<nav class="primary-nav {{ className }}">
	<div class="container">
		<ul class="primary-nav__list">
			<li class="primary-nav__logo">
				{% if templateName == 'template-fair' %}
					<a href="/fair">
						<svg class="logo-ncf">
							<use xlink:href="#logo-ncf"></use>
						</svg>
					</a>
				{% else %}
					<a href="/main" class="primary-nav__link">
						<img class="primary-nav__logo-image" src="../images/NACAC_logo-knockout.svg" alt="">
					</a>
				{% endif %}
			</li>
			{% if templateName == 'template-fair' %}
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="1">Learn <i class="fa fa-caret-down"></i></a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="1">Attend <i class="fa fa-caret-down"></i></a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="1">Exhibit <i class="fa fa-caret-down"></i></a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="1">Support <i class="fa fa-caret-down"></i></a>
					<ul class="primary-nav__interior"></ul>
				</li>
			{% else %}
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="1">About</a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="2">Membership</a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="3">Events</a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="4">Professional Development</a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="5">Advocacy &amp; Ethics</a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="6">News &amp; Publications</a>
					<ul class="primary-nav__interior"></ul>
				</li>
				<li class="primary-nav__item">
					<a href="#" class="primary-nav--children" data-id="7">Knowledge Center</a>
					<ul class="primary-nav__interior"></ul>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
