<article class="article__row article--white">
	<div class="container">
		<div class="article__row row">
			<div class="col-sm-3 focus-testimonial__image">
				<img src="/images/main/business_man.jpg" alt="">
			</div>
			<div class="col-sm-9 focus-testimonial__content">
				<div class="article__header">
					<h2>Presidential Thoughts</h2>
					<p>The word "access" has been in the news a lot lately. The big announcement in late September from the Obama Administration to change the policy on how students will file the FAFSA (beginning in fall 2016) by using prior-prior year tax information was motivated by a strong desire to increase access.</p>
					<a href="#" class="btn btn--nacac-blue">Read More</a>
				</div>
			</div>
		</div>
	</div>
	</article>
<article class="article__row article--lightgrey">
	<div class="container">
		<div class="article__header">
			<h2>Member Stories</h2>
		</div>
		<div class="article__row row">
			<div class="col-sm-4 testimonial-block">
				{% include './_components/testimonial-block.html' %}
			</div>
			<div class="col-sm-4 testimonial-block">
				{% include './_components/testimonial-block.html' %}
			</div>
			<div class="col-sm-4 testimonial-block">
				{% include './_components/testimonial-block.html' %}
			</div>
			
		</div>
	</div>
</article>