<article class="article__row content__row article--white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				{% include './_components/interior-navigation-sidebar.html'%}
			</div>
			<div class="col-sm-8">
				<section class="card-block__row section__row">
					<header class="section__header">
						<h1>Membership Benefits</h1>
						<p>Get involved in the counseling and admission community and stay up-to-date on the industry trends. NACAC proudly offers our members the training, networking opportunities and necessary information needed to serve students and their parents to the best of their abilities.</p>
					</header>
					<div class="flexbox__row row">
						<div class="flexbox__column card-block col-md-4">{% include './_components/card-block-no-button.html'%}</div>
						<div class="flexbox__column card-block col-md-4">{% include './_components/card-block-no-button-alt.html'%}</div>
						<div class="flexbox__column card-block col-md-4">{% include './_components/card-block-no-button.html'%}</div>
					</div>
					<a href="#" class="btn btn--nacac-blue btn--centered">Become a Member</a>
				</section>
				<section class="section__row">
					<header class="section__header">
						<h1>Membership Benefits</h1>
						<p>Get involved in the counseling and admission community and stay up-to-date on the industry trends. NACAC proudly offers our members the training, networking opportunities and necessary information needed to serve students and their parents to the best of their abilities.</p>
					</header>
					{% include './_components/tab-block.html' %}
				</section>
			</div>
		</div>
	</div>
</article>
{% set addedClassNames = 'article--top-border' %}
{% include './_components/full-block-row.html' %}
