<article class="article__row article--white">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Search Results</li>
		</ol>
		<header class="search-results__header">
			<h1>Search Results</h1>
			<p>Showing 1-10 of 320 Results</p>
		</header>
		<div class="row">
			<div class="col-sm-4">
				{% include './_components/search-filter.html'%}
			</div>
			<div class="col-sm-8">
				{% include './_components/search-results.html'%}
			</div>
		</div>
	</div>
</article>
